.l-booking-rooms {
    @include margin-trailer(1.5);
    @include grid-clearfix();

    @media #{$medium-up} {
        @include margin-trailer(2.5);
    }

    @media #{$big-up} {
        @include margin-trailer(3.5);
    }
}

.l-booking-rooms__row {
    @media #{$big-up} {
        @include span(10 center);
    }
}

.l-booking-rooms__item {
    @include margin-trailer(2);

    @media #{$medium-up} {
        @include gallery(6);
        margin-bottom: 30px;

        &:nth-child(2n + 1) {
            padding-left: 0;
        }

        &:nth-child(2n) {
            padding-right: 0;
        }
    }
}
