.l-cafe-feature {
    @extend %l-row;
    @include grid-clearfix();
    position: relative;
    padding: {
        right: gutter(1);
        left: gutter(1);
    };

    @media #{$medium-up} {
        padding: {
            right: 5%;
            left: 5%;
        };
    }
    
    @media #{$big-up} {
        @include margin-trailer(6);
        padding: 0;
    }
}

.l-cafe-feature__img-wrap {
    position: absolute;
    z-index: z('zero');
    opacity: .2;
    width: 100%;

    @media #{$medium-up} {
        left: 0;
        bottom: 0;
    }

    @media #{$custom-1024-up} {
        width: 420px;
        opacity: 1;
        left: -40px;
    }
}

.l-cafe-feature__border {
    @include grid-clearfix();
    @include rhythm-padding(2);
    position: relative;
    border: 2px solid $gold-2;

    @media #{$small-only} {
        padding: {
            right: gutter(1);
            left: gutter(1);
        };
    }

    @media #{$medium-up} {
        @include padding-leader(3);
        @include padding-trailer(5);
    }

    @media #{$big-up} {
        @include rhythm-padding(4);
        @include span(10 center);
        border-left-width: 0;
    }

    &:before {
        @media #{$big-up} {
            content: '';
            position: absolute;
            left: 0;
            top: -2px;
            width: 2px;
            height: 50px;
            background-color: $gold-2;
        }
    }
}

.l-cafe-feature__cnt {
    position: relative;
    z-index: z('default');
    text-align: center;

    @media #{$medium-up} {
        @include span(9 center);
    }
}

.l-cafe-feature__headings {
    >h2 {
        @extend %f-ttl-note;
        @extend %b-top-dash-100;
    }
}
