.l-header {
    @include grid-clearfix();
}

.l-header__menu {
    @include span(2.5);
    background-color: $white;
    position: relative;
    height: 100vh;
    padding: 0;
    z-index: z('default');

    @media #{$medium-down} {
        display: none;
    }

    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        background: url('/img/menu-bg.svg') 50% 100% no-repeat $white;
        background-size: cover;
        width: 100%;
        height: 80%;
        z-index: z('hide');
    }
}

.l-header__booking-info {
    position: relative;

    @media #{$medium-up} {
        height: 100vh;
    }

    @media #{$big-up} {
        @include span(9.5 last);
        position: relative;
        height: 100vh;
        padding: 0;
    }
}

.l-header__gallery {
    position: relative;
    background-color: $white;

    @media #{$medium-down} {
        margin-top: 60px; // menu height
    }
}

.l-header__booking {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    @media #{$medium-only} {
        bottom: 60px;
    }
}
