.l-header {
    @include grid-clearfix();
}

.l-header__menu {
    @include span(2.5);
    background-color: $white;
    position: relative;
    height: 100vh;
    padding: 0;
    z-index: z('default');
    display: none;

    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        background: url('/img/menu-bg.svg') 50% 100% no-repeat $white;
        background-size: cover;
        width: 100%;
        height: 80%;
        z-index: z('hide');
    }

    @media #{$custom-1024-up} {
        display: block;
    }
}

.l-header__booking-info {
    position: relative;

    @media #{$medium-up} {
        height: 100vh;
    }

    @media #{$custom-1024-up} {
        @include span(9.5 last);
        position: relative;
        padding: 0;
    }
}

.l-header__gallery {
    position: relative;
    background-color: $white;
    margin-top: 60px; // menu height

    @media #{$custom-1024-up} {
        margin-top: 0;
    }
}

.l-header__booking {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 60px; // menu height
    display: none;
    background-color: $green;

    @media #{$custom-1024-up} {
        bottom: 0;
        display: block;
    }

    .b-booking-form__form {
        @media #{$custom-1024-up} {
            display: flex;
            justify-content: center;
            flex-direction: row-reverse;
        }
    }
}

.l-header__logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: z('default');
    padding: {
        top: rhythm(1.5);
        bottom: rhythm(1);
    };
    background-color: rgba($white, .6);
    text-align: center;

    @media #{$small-only} {
        @include padding-leader(.5);
        @include padding-trailer(0);
        background-color: rgba($white, .8);

        .b-logo__img {
            width: 100px;
        }

        .b-menu-logo__txt {
            display: none;
        }
    }

    @media #{$custom-1024-up} {
        display: none;
    }
}

.l-header__arrow-down {
    position: absolute;
    bottom: 20vh;
    left: 50%;
    transform: translateX(-50%);
    display: none;

    @media #{$big-up} {
        display: block;
    }
}

.l-header__map {
    position: relative;
    width: 100%;
}

.l-header__map-wrapper {
    @include transition(opacity);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
