.l-wrap {
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
}

.l-header {
    flex: 0 0 auto;
}

.l-main {
    flex: 1 0 auto;
}

.l-footer {
    flex: 0 0 auto;
}

.l-limit-wrap {
    padding: {
        right: gutter(1);
        left: gutter(1);
    };

    @media #{$large-up} {
        @extend %l-row;
        padding: 0;
    }
}

.l-limit-wrap-full {
    @extend %l-row;
}
