.l-wrap {
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
}

.l-content {
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
}


.l-main {
    flex: 1 0 auto;
    background-color: $white-2;
}

.l-footer {
    flex: 0 0 auto;
}

.l-limit-wrap {
    padding: {
        right: gutter(2);
        left: gutter(2);
    };

    @media #{$large-up} {
        @extend %l-row;
    }

    @media #{$custom-1360-up} {
        padding: 0;
    }

    &.no-padding {
        padding: 0;
    }

    &.has-border {
        padding: {
            right: gutter(1);
            left: gutter(1);
        };

        @media #{$medium-up} {
            padding: {
                right: gutter(2);
                left: gutter(2);
            };
        }
    }
}

.l-limit-wrap-full {
    @include grid-clearfix();
    max-width: 2560px;
    margin-left: auto;
    margin-right: auto;
}

.l-footer__cnt {
    @include rhythm-padding(.5);
    background: url('/img/footer-bg.png') no-repeat 50% 50%;
    background-size: cover;

    @media #{$big-up} {
        @include rhythm-padding(1.5);
    }

}

.l-footer__row {
    color: $white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column nowrap;

    @media #{$medium-up} {
        flex-flow: row nowrap;
        padding: {
            right: gutter(2);
            left: gutter(2);
        };
    }
}

.l-footer__col {
    @include margin-trailer(1.5);
    @include grid-clearfix();

    @media #{$medium-up} {
        @include margin-trailer(0);
        flex: 0 1 200px; //set all elem one width for centering
    }

    &:last-child {
        @include margin-trailer(0);
    }

}

.l-main-wrap {
    @include padding-trailer(1.5);
    overflow: hidden;
    position: relative;
    padding-top: $booking-height;
    z-index: z('default');
    background: url('/img/logo-bg.svg') repeat-y 0 0;

    @media #{$medium-up} {
        @include padding-trailer(2.5);
    }

    @media #{$big-up} {
        @include padding-leader(3.5);
        @include padding-trailer(2);
    }

    // Прилипает к меню на десктопах
    &.is-stick {
        @media #{$big-up} {
            padding-top: 60px;
        }
    }
}


