.l-wrap {
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
}

.l-header {
    flex: 0 0 auto;
}

.l-main {
    flex: 1 0 auto;
}

.l-footer {
    flex: 0 0 auto;
}

.l-limit-wrap {
    padding: {
        right: gutter(1);
        left: gutter(1);
    };

    @media #{$xlarge-up} {
        @extend %l-row;
    }

    @media #{$custom-1960-up} {
        padding: 0;
    }
}

.l-limit-wrap-full {

    @media #{$xlarge-up} {
        @extend %l-row;
    }
}

.l-footer__cnt {
    @include rhythm-padding(1.5);
    background: url('/img/footer-bg.png') no-repeat 50% 50%;
    background-size: cover;

}

.l-footer__row {
    color: $white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column nowrap;

    @media #{$medium-up} {
        flex-flow: row nowrap;
        padding: gutter(2);
    }
}

.l-footer__col {
    @include margin-trailer(1.5);

    &:last-child {
        @include margin-trailer(0);
    }

    @media #{$medium-up} {
        @include margin-trailer(0);
    }
}
