.l-menu {
    @include transition(opacity);
    @include padding-leader(1);
    @include padding-trailer(1);
    min-height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    padding: {
        right: gutter(1);
        left: gutter(1);
    };

    @media #{$custom-1024-up} {
        opacity: 0;

        &.is-transformed {
            opacity: 1;
        }

        &.is-smaller {
            .l-menu__contacts {
                @include margin-trailer(.5);
            }

            .l-menu__logo {
                @include margin-trailer(.5);
            }

            .l-menu__nav {
                @include margin-trailer(.5);
            }

            .b-nav__link {
                line-height: 28px;
            }
        }
    }
}

.l-menu__logo {
    @media #{$custom-1024-up} {
        @include margin-trailer(1);
    }

    @media #{$xlarge-up} {
        @include margin-leader(2);
    }
}

.l-menu__nav {
    @media #{$custom-1024-up} {
        @include margin-trailer(1);
    }
}

.l-menu__contacts {
    @media #{$custom-1024-up} {
        @include margin-trailer(1);
    }
}

.l-menu__reviews {
    @media #{$custom-1024-up} {
        display: none;
    }
}
