.l-menu {
    display: none;

    @media #{$custom-1024-up} {
        @include transition(opacity);
        @include padding-leader(1);
        @include padding-trailer(1);
        min-height: 100vh;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        padding: {
            right: gutter(1);
            left: gutter(1);
        };
        opacity: 0;

        &.is-transformed {
            opacity: 1;
        }

        &.is-smaller {
            .l-menu__contacts {
                @include margin-trailer(.5);
            }

            .l-menu__logo {
                @include margin-trailer(.5);
            }

            .l-menu__nav {
                @include margin-trailer(.5);
            }

            .b-nav__link {
                line-height: 28px;
            }
        }
    }
}

.l-menu__logo {
    @media #{$custom-1024-up} {
        @include margin-trailer(1);
    }

    @media #{$xlarge-up} {
        @include margin-leader(2);
    }
}

.l-menu__nav {
    @media #{$custom-1024-up} {
        @include margin-trailer(1);
    }
}

.l-menu__contacts {
    @media #{$custom-1024-up} {
        @include margin-trailer(1);
    }
}

.l-menu__reviews {
    @media #{$custom-1024-up} {
        display: none;
    }
}


.l-stick-menu__form__logo{
    position: absolute;
    left: 20px;
    right: 20px;
    height: 60px;
    display: inline-block;
    text-align: center;
    line-height: 60px;
    z-index: -1;
}
.b-logo__img {
    width: 240px;
    margin: 0 auto;
    vertical-align: middle;
}
@media(max-width: 650px){
    .l-stick-menu__form__logo {
        left: 80px;
        right: auto;
    }
}
@media(max-width: 500px){
    .b-logo__img {
        width: 150px!important;
    }
}
@media(max-width: 430px){
    .l-stick-menu__form__logo{
        display: none;
    }
}