$loader-size: 100px;

.l-preloader {
    @include transition(opacity);
    transition-duration: .6s;
    position: fixed;
    opacity: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $white;
    z-index: z('preloader');
    display: none;
    
    @media #{$custom-1024-up} {
        display: block;
    }

    &.is-hide {
        opacity: 0;
    }
}

@keyframes ball-scale-ripple {
    0% {
        -webkit-transform: scale(.1);
        transform: scale(.1);
        opacity: 1
    }

    70% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: .7
    }

    100% {
        opacity: 0
    }
}

.b-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: $loader-size;
    height: $loader-size;
}

.b-loader__load {
    height: $loader-size;
    width: $loader-size;
    border-radius: 100%;
    border: 2px solid $gold-2;
    animation: ball-scale-ripple 1s 0s infinite cubic-bezier(.21,.53,.56,.8)
}
