$loader-size: 81px;
$loader-size-big: 162px;

.l-preloader {
    @include transition(opacity);
    transition-duration: .6s;
    position: fixed;
    opacity: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $white;
    z-index: z('preloader');

    @media #{$small-only} {
        display: none;
    }

    &.is-hide {
        opacity: 0;
    }
}

.b-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: - $loader-size / 2;
    margin-left: - $loader-size / 2;
    width: $loader-size;
    height: $loader-size;
    border: 7px double;
    border-radius: 50%;
    border-color: transparent rgb(177,125,12) rgb(115,115,115);
    animation: cssload-spin 1410ms infinite linear;

    @media #{$large-up} {
        margin-top: - $loader-size-big / 2;
        margin-left: - $loader-size-big / 2;
        width: $loader-size-big;
        height: $loader-size-big;
    }
}

@keyframes cssload-spin {
    100%{ transform: rotate(360deg); transform: rotate(360deg); }
}

@-o-keyframes cssload-spin {
    100%{ -o-transform: rotate(360deg); transform: rotate(360deg); }
}

@-ms-keyframes cssload-spin {
    100%{ -ms-transform: rotate(360deg); transform: rotate(360deg); }
}

@-webkit-keyframes cssload-spin {
    100%{ -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@-moz-keyframes cssload-spin {
    100%{ -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
