.l-services {
    @include margin-trailer(1.5);
    @include grid-clearfix();

    @media #{$medium-up} {
        @include margin-trailer(2.5);
    }

    @media #{$big-up} {
        @include margin-trailer(3.5);
    }
}

.l-services__header {
    @include grid-clearfix();

    .b-article {
        padding: 0;
    }
}

.l-services__row {
    @media #{$medium-up} {
        @include span(10 center);
    }
}

.l-services__tiles {
    @include grid-clearfix();
}

// TILES
$tile-height-small: 225px;
$tile-height-big: $tile-height-small * 2;
$tile-height-large: $tile-height-small * 3;

.l-services__tile_numb_1 {
    background-color: $gold-3;

    .b-service__cnt {
        position: relative;
        z-index: z('default');
    }

    .b-service__img {
        background: url('/img/services/service-1.png') no-repeat 50% 50%;
        height: 100%;
        opacity: .4;
    }

    @media #{$medium-up} {
        height: $tile-height-small;

        .b-service {
            @include span(full);
            height: $tile-height-small;
            padding-left: gutter(2);
        }

        .b-service__cnt {
            @include span(9);
            padding-left: 0;
        }

        .b-service__img {
            right: -50%;
            opacity: 1;
        }
    }

    @media #{$big-up} {
        @include span(8);
        padding: 0;
    }
}

.l-services__tile_numb_2 {
    background-color: $white;

    .b-service {
        padding-bottom: $tile-height-small;
    }

    .b-service__img-wrap {
        height: $tile-height-small;
        top: $tile-height-small;
        left: 0;
        width: 100%;
    }

    .b-service__img {
        height: $tile-height-small;
        top: 0;
        left: 0;
        background: url('/img/services/service-1.jpg') no-repeat 50% 50%;
        background-size: cover;
        width: 100%;
    }

    @media #{$medium-up} {
        @include span(full);
        height: $tile-height-small;
        padding: 0;

        .b-service {
            height: $tile-height-small;
            padding-bottom: 0;
        }

        .b-service__cnt {
            @include span(6);
            padding: 0;
        }

        .b-service__img-wrap {
            height: $tile-height-small;
            top: 0;
            left: 50%;
            width: 50%;
        }

        .b-service__img {
            height: $tile-height-small;
            top: 0;
            left: 0;
            width: 100%;
        }
    }

    @media #{$big-up} {
        @include span(8);
        padding: 0;
    }
}

.l-services__tile_numb_3 {
    background-color: $white;

    .b-service__cnt {
        position: relative;
        z-index: z('default');
    }

    .b-service__img {
        background: url('/img/services/service-2.png') no-repeat 50% 50%;
        background-size: contain;
        height: 100%;
        opacity: .4;
    }

    @media #{$medium-up} {
        @include span(8);
        height: $tile-height-big;

        .b-service {
            height: $tile-height-big;
        }

        .b-service__img {
            top: 18%;
            opacity: 1;
        }

    }

    @media #{$big-up} {
        @include span(4 last);

        .b-service__img {
            top: 25%;
        }
    }
}

.l-services__tile_numb_4 {
    background-color: $white;

    .b-service {
        padding-top: $tile-height-small + rhythm(.5);
    }

    .b-service__img-wrap {
        top: 0;
        left: 0;
        height: $tile-height-small;
        width: 100%;
    }

    .b-service__img {
        height: $tile-height-small;
        width: 100%;
        background-image: url('/img/services/service-2.jpg');
    }

    @media #{$medium-up} {
        @include span(6);
        height: $tile-height-large;
        padding: 0;

        .b-service {
            height: $tile-height-large;
            padding-top: $tile-height-small + rhythm(.5);
        }
    }

    @media #{$big-up} {
        @include span(4);
        padding: 0;
    }
}

.l-services__tile_numb_5 {
    background-color: $gold-3;

    .b-service {
        padding-bottom: $tile-height-small;
    }

    .b-service__img-wrap {
        height: $tile-height-small;
        width: 100%;
        bottom: 0;
        left: 0;
    }

    .b-service__img {
        height: $tile-height-small;
        width: 100%;
        background-image: url('/img/services/service-3.jpg');
    }

    @media #{$medium-up} {
        @include span(6);
        height: $tile-height-large;
        padding: 0;

        .b-service {
            height: $tile-height-large;
        }

        .b-service__img-wrap {
            top: $tile-height-big;
        }

        .b-service__img {
            top: 0;
        }
    }

    @media #{$big-up} {
        @include span(4);
        padding: 0;

        .b-service {
            height: $tile-height-large;
        }

        .b-service__img-wrap {
            top: $tile-height-big;
        }

    }
}

.l-services__tile_numb_6 {
    background-color: $white-2;

    .b-service {
        padding-bottom: $tile-height-small;
    }

    .b-service__img-wrap {
        height: $tile-height-small;
        bottom: 0;
        width: 100%;
        left: 0;
    }

    .b-service__img {
        top: 0;
        height: $tile-height-small;
        background-image: url('/img/services/service-4.jpg');
    }

    @media #{$big-up} {
        @include span(4);
        height: $tile-height-big;
        padding: 0;

        .b-service {
            height: $tile-height-big;
        }

        .b-service__img-wrap {
            bottom: 0;
            height: $tile-height-small;
        }
    }
}

.l-services__tile_numb_7 {
    background-color: $white-2;

    .b-service {
        padding-left: gutter(2);
    }

    .b-service__cnt {
        position: relative;
        z-index: z('default');
    }

    .b-service__img {
        background: url('/img/services/service-3.png') no-repeat 100% 50%;
        background-size: contain;
        top: 10%;
        height: 100%;
        opacity: .4;
    }

    @media #{$medium-up} {
        @include span(4);
        height: $tile-height-big;
        padding: 0;

        .b-service {
            height: $tile-height-big;
        }

        .b-service__img {
            right: 0;
            top: 30%;
            opacity: 1;
        }
    }

    @media #{$big-up} {
        @include span(4);
        height: $tile-height-small;
        padding: 0;

        .b-service {
            height: $tile-height-small;
            padding-left: gutter(2);
        }

        .b-service__img {
            right: -30%;
            top: -20%;
        }
    }
}

.l-services__tile_numb_8 {
    background-color: $white;

    .b-service {
        padding-bottom: $tile-height-small;
    }

    .b-service__img-wrap {
        bottom: 0;
        left: 0;
        height: $tile-height-small;
        width: 100%;
    }

    .b-service__img {
        top: 0;
        height: $tile-height-small;
        left: 0;
        right: auto;
        background-image: url('/img/services/service-5.jpg');
        width: 100%;
    }

    @media #{$medium-up} {
        @include span(full);
        padding: 0;

        .b-service {
            height: $tile-height-small;
        }

        .b-service__cnt {
            @include span(8 last);
            padding: 0;
        }

        .b-service__img-wrap {
            height: 100%;
            width: 33.33333%;
        }

        .b-service__img {
            height: 100%;
        }
    }
}
