.l-services {
    @include margin-trailer(1.5);
    @include grid-clearfix();

    @media #{$medium-up} {
        @include margin-trailer(2.5);
    }

    @media #{$big-up} {
        @include margin-trailer(3.5);
    }
}

.l-services__header {
    @include grid-clearfix();

    .b-article {
        padding: 0;
    }
}

.l-services__row {
    @media #{$medium-up} {
        @include span(10 center);
        padding: 0;
    }
}

.l-services__tiles {
    @include grid-clearfix();
}

.l-services__tile {
    @include grid-clearfix();
}

// TILES
$tile-height-small: 225px;
$tile-height-big: $tile-height-small * 2;
$tile-height-large: $tile-height-small * 3;
$spectile-height-small: 350px;

.l-services__tile_numb_1 {
    background-color: $gold-3;

    .b-service__cnt {
        position: relative;
        z-index: z('default');
    }

    .b-service__img {
        background: url('/img/services/service-1.png') no-repeat 50% 50%;
        height: 100%;
        opacity: .2;
    }

    @media #{$medium-up} {
        height: $tile-height-small;

        .b-service {
            @include span(full);
            height: $tile-height-small;
        }

        .b-service__cnt {
            @include span(9);
        }

        .b-service__img {
            right: -50%;
            opacity: 1;
        }
    }

    @media #{$custom-1024-up} {
        @include span(8);
    }
}

.l-services__tile_numb_2 {
    background-color: $white;

    .b-service {
        padding-bottom: $tile-height-small;
    }

    .b-service__img-wrap {
        height: $tile-height-small;
        left: 0;
        width: 100%;
        bottom: 0;
    }

    .b-service__img {
        height: $tile-height-small;
        top: 0;
        bottom: auto;
        left: 0;
        background: url('/img/services/service-1.jpg') no-repeat 50% 50%;
        background-size: cover;
        width: 100%;
    }

    @media #{$medium-up} {
        @include span(full);
        height: $tile-height-small;

        .b-service {
            height: $tile-height-small;
            padding-bottom: 0;
        }

        .b-service__cnt {
            @include span(6);
        }

        .b-service__img-wrap {
            height: $tile-height-small;
            top: 0;
            left: 50%;
            width: 50%;
        }

        .b-service__img {
            height: $tile-height-small;
            top: 0;
            left: 0;
            width: 100%;
        }
    }

    @media #{$custom-1024-up} {
        @include span(8);
    }
}

.l-services__tile_numb_3 {
    background-color: $white;

    .b-service__cnt {
        position: relative;
        z-index: z('default');
    }

    .b-service__img {
        background: url('/img/services/service-2.png') no-repeat 50% 50%;
        background-size: contain;
        height: 100%;
        opacity: .2;
    }

    @media #{$medium-up} {
        @include span(8);
        height: $tile-height-big;

        .b-service {
            height: $tile-height-big;
        }

        .b-service__img {
            top: 18%;
            opacity: 1;
        }

    }

    @media #{$custom-1024-up} {
        @include span(4 last);

        .b-service__img {
            top: 25%;
        }
    }
}

.l-services__tile_numb_4 {
    background-color: $white;

    .b-service {
        padding-top: $tile-height-small + rhythm(.5);
    }

    .b-service__img-wrap {
        top: 0;
        left: 0;
        height: $tile-height-small;
        width: 100%;
    }

    .b-service__img {
        height: $tile-height-small;
        width: 100%;
        background-image: url('/img/services/service-2.jpg');
    }

    @media #{$medium-up} {
        @include span(6);
        height: $tile-height-large;

        .b-service {
            height: $tile-height-large;
            padding-top: $tile-height-small + rhythm(.5);
        }
    }

    @media #{$custom-1024-up} {
        @include span(4);
    }
}

.l-services__tile_numb_5 {
    background-color: $gold-3;

    .b-service {
        padding-bottom: $tile-height-small;
    }

    .b-service__img-wrap {
        height: $tile-height-small;
        width: 100%;
        bottom: 0;
        left: 0;
    }

    .b-service__img {
        height: $tile-height-small;
        width: 100%;
        background-image: url('/img/services/service-3.jpg');
    }

    @media #{$medium-up} {
        @include span(6);
        height: $tile-height-large;
        padding: 0;

        .b-service {
            height: $tile-height-large;
        }

        .b-service__img-wrap {
            top: $tile-height-big;
            left: 0;
        }

        .b-service__img {
            top: 0;
        }
    }

    @media #{$custom-1024-up} {
        @include span(4);

        .b-service {
            height: $tile-height-large;
        }

        .b-service__img-wrap {
            top: $tile-height-big;
            left: 0;
        }

    }
}

.l-services__tile_numb_6 {
    background-color: $white-2;

    .b-service {
        padding-bottom: $tile-height-small;
    }

    .b-service__img-wrap {
        height: $tile-height-small;
        bottom: 0;
        width: 100%;
        left: 0;
    }

    .b-service__img {
        top: 0;
        height: $tile-height-small;
        background-image: url('/img/services/service-4.jpg');
    }

    @media #{$custom-1024-up} {
        @include span(4);
        height: $tile-height-big;

        .b-service {
            height: $tile-height-big;
        }

        .b-service__img-wrap {
            bottom: 0;
            height: $tile-height-small;
        }
    }
}

.l-services__tile_numb_7 {
    background-color: $white-2;

    .b-service {
        padding-left: gutter(2);
    }

    .b-service__cnt {
        position: relative;
        z-index: z('default');
    }

    .b-service__img {
        background: url('/img/services/service-3.png') no-repeat 100% 50%;
        background-size: contain;
        top: 10%;
        height: 100%;
        opacity: .2;
    }

    @media #{$medium-up} {
        @include span(4);
        height: $tile-height-big;

        .b-service {
            height: $tile-height-big;
        }

        .b-service__img {
            right: 0;
            top: 30%;
            opacity: 1;
        }
    }

    @media #{$custom-1024-up} {
        @include span(4);
        height: $tile-height-small;

        .b-service {
            height: $tile-height-small;
            padding-left: gutter(2);
        }

        .b-service__img {
            right: -30%;
            top: -20%;
        }
    }
}

.l-services__tile_numb_8 {
    background-color: $white;

    .b-service {
        padding-bottom: $tile-height-small;
    }

    .b-service__img-wrap {
        bottom: 0;
        left: 0;
        height: $tile-height-small;
        width: 100%;
    }

    .b-service__img {
        top: 0;
        height: $tile-height-small;
        left: 0;
        right: auto;
        background-image: url('/img/services/service-5.jpg');
        width: 100%;
    }

    @media #{$medium-up} {
        @include span(full);

        .b-service {
            height: $tile-height-small;
        }

        .b-service__cnt {
            @include span(8 last);
        }

        .b-service__img-wrap {
            height: 100%;
            width: 33.33333%;
        }

        .b-service__img {
            height: 100%;
        }
    }
}

// Blocks from services page
.l-services__tile_numb_9 {
    background-color: $gray-3;

    @media #{$medium-only} {
        @include span(6);
        height: $tile-height-big;
    }

    @media #{$custom-1024-up} {
        @include span(4);
        height: $tile-height-big;
    }

    .b-service {
        padding-bottom: $tile-height-small;

        @media #{$medium-only} {
            height: $tile-height-big;
        }

        @media #{$custom-1024-up} {
            height: $tile-height-big;
            padding-top: rhythm(2);
        }
    }

    .b-service__img-wrap {
        height: $tile-height-small;
        bottom: 0;
        width: 100%;
        left: 0;

        @media #{$medium-only} {
            top: $tile-height-small;
        }

        @media #{$custom-1024-up} {
            bottom: 0;
            height: $tile-height-small;
        }
    }

    .b-service__img {
        top: 0;
        height: $tile-height-small;
        background-image: url('/img/services/service-4.jpg');
    }
}

.l-services__tile_numb_10 {
    background-color: $gold-2;

    @media #{$medium-only} {
        @include span(6);
        height: $tile-height-big;
    }

    @media #{$custom-1024-up} {
        @include span(4);
        height: $tile-height-big;
    }

    .b-service {
        padding-bottom: $tile-height-small;

        @media #{$medium-only} {
            height: $tile-height-big;
        }

        @media #{$custom-1024-up} {
            height: $tile-height-big;
            padding-top: $tile-height-small;
        }
    }

    .b-service__border {
        @media #{$small-only} {
            padding: {
                right: gutter(1);
                left: gutter(1);
            };
        }
    }

    .b-service__img-wrap {
        height: $tile-height-small;
        bottom: 0;
        width: 100%;
        left: 0;

        @media #{$custom-1024-up} {
            top: 0;
            height: $tile-height-small;
        }
    }

    .b-service__img {
        top: 0;
        height: $tile-height-small;
        background-image: url('/img/services/service-6.jpg');
    }
}

.l-services__tile_numb_11 {
    background-color: $white;

    @media #{$medium-only} {
        @include span(5);
        height: $tile-height-big;
        background-color: $gold-2;
    }

    @media #{$custom-1024-up} {
        @include span(4);
        background-color: $white;
        height: $tile-height-big;
    }

    .b-service {
        padding-bottom: $tile-height-small;

        @media #{$medium-only} {
            height: $tile-height-big;
        }

        @media #{$custom-1024-up} {
            height: $tile-height-big;
            padding-top: rhythm(2);

        }
    }

    .b-service__img-wrap {
        height: $tile-height-small;
        bottom: 0;
        width: 100%;
        left: 0;

        @media #{$custom-1024-up} {
            bottom: 0;
            height: $tile-height-small;
        }
    }

    .b-service__img {
        top: 0;
        height: $tile-height-small;
        background-image: url('/img/services/service-1.jpg');
    }
}

.l-services__tile_numb_12 {
    background-color: $white;

    @media #{$medium-up} {
        @include span(7);
        height: $tile-height-big;
    }

    @media #{$custom-1024-up} {
        @include span(6);
        height: $spectile-height-small;
    }

    .b-service {
        @media #{$medium-up} {
            @include span(full);
            height: $tile-height-big;
        }

        @media #{$custom-1024-up} {
            padding-top: rhythm(2);
            height: $spectile-height-small;
        }
    }

    .b-service__cnt {
        position: relative;
        z-index: z('default');

        @media #{$custom-1024-up} {
            p {
                @include span(6);
            }
        }
    }

    .b-service__img {
        height: 100%;
        opacity: .2;
        background-image: none;

        @media #{$medium-up} {
            right: -35%;
            opacity: 1;

            img {
                position: absolute;
                top: 50%;
                width: 299px;
            }
        }

        @media #{$custom-1024-up} {
            right: -55%;

            img {
                position: absolute;
                top: 70px;
            }
        }
    }
}

.l-services__tile_numb_13 {
    @include span(full);
    background-color: $gray-3;

    @media #{$custom-1024-up} {
        @include span(6);
        height: $spectile-height-small;
    }

    .b-service {
        @include span(full);

        @media #{$medium-up} {

        }

        @media #{$custom-1024-up} {
            overflow: visible;
            padding-top: rhythm(2);
            height: $spectile-height-small;
        }
    }

    .b-service__cnt {
        position: relative;
        z-index: z('default');
    }

    .b-service__img {
        background: url('/img/services/service-2.svg') no-repeat 100% 0;
        background-size: contain;
        opacity: .2;

        @media #{$medium-up} {
            top: auto;
            right: 0;
            bottom: 0;
            height: 210px;
        }

        @media #{$custom-1024-up} {
            opacity: 1;
        }
    }
}

.l-services__tile_numb_14 {
    background-color: $white;

    @media #{$medium-up} {
        @include span(full);
    }

    .b-service {
        @media #{$small-only} {
            padding-bottom: $tile-height-small;
        }
    }

    .b-service__border {
        @media #{$small-only} {
            padding: {
                right: gutter(1);
                left: gutter(1);
            };
        }
    }

    .b-service__cnt {
        @media #{$medium-only} {
            @include span(full);
            padding-bottom: $tile-height-small * 1.5;
        }

        @media #{$custom-1024-up} {
            @include span(8 last);
            @include padding-trailer(1);
        }
    }

    .b-service__img-wrap {
        bottom: 0;
        left: 0;
        height: $tile-height-small;
        width: 100%;

        @media #{$medium-up} {
            width: 100%;
            height: $tile-height-small * 1.5;
        }

        @media #{$custom-1024-up} {
            height: 100%;
            width: 33.33333%;
        }
    }

    .b-service__img {
        top: 0;
        height: $tile-height-small;
        left: 0;
        right: auto;
        background-image: url('/img/services/service-5.jpg');
        width: 100%;

        @media #{$medium-up} {
            height: 100%;
        }
    }
}

.l-services__tile_numb_15 {
    background-color: $gold-3;

    @media #{$medium-up} {
        @include span(full);
    }

    .b-service {
        padding-bottom: $tile-height-small;

        @media #{$medium-up} {
            height: $spectile-height-small;
        }
    }

    .b-service__border {
        @media #{$small-only} {
            padding: {
                right: gutter(1);
                left: gutter(1);
            };
        }
    }

    .b-service__cnt {
        @media #{$custom-1024-up} {
            @include span(6);
        }

        @media #{$large-up} {
            @include span(8);
        }
    }

    .b-service__img-wrap {
        bottom: 0;
        left: 0;
        height: $tile-height-small;
        width: 100%;
        opacity: 1;

        @media #{$medium-up} {
            height: 100%;
            right: 0;
            left: auto;
            width: 485px;
            opacity: .2;
        }

        @media #{$custom-1024-up} {
            opacity: 1;
        }
    }

    .b-service__img {
        top: 0;
        height: $tile-height-small;
        left: 0;
        right: auto;
        background-image: url('/img/services/service-3.svg');
        width: 100%;

        @media #{$medium-up} {
            height: 341px;
        }
    }
}

.l-services__tile_numb_16 {
    background-color: $gray-3;

    @media #{$medium-up} {
        @include span(full);
    }

    .b-service {
        @media #{$small-only} {
            padding-bottom: $tile-height-small;
        }
    }

    .b-service__border {
        &:before,
        &:after {
            display: none;
        }

        @media #{$small-only} {
            padding: {
                right: gutter(0);
                left: gutter(0);
            };
        }
    }

    .b-service__cnt {
        @media #{$medium-only} {
            @include span(full);
            padding-bottom: $tile-height-small * 1.5;
        }

        @media #{$custom-1024-up} {
            @include span(8 last);
            @include padding-trailer(1);
        }
    }

    .b-service__img-wrap {
        bottom: 0;
        left: 0;
        height: $tile-height-small;
        width: 100%;

        @media #{$medium-up} {
            width: 100%;
            height: $tile-height-small * 1.5;
        }

        @media #{$custom-1024-up} {
            height: 100%;
            width: 33.33333%;
        }
    }

    .b-service__img {
        top: 0;
        height: $tile-height-small;
        left: 0;
        right: auto;
        background-image: url('/img/services/service-2.jpg');
        width: 100%;

        @media #{$medium-up} {
            height: 100%;
        }
    }
}

.l-services__tile_numb_17 {
    background-color: $white;

    @media #{$medium-up} {
        @include span(full);
    }

    .b-service {
        @media #{$small-only} {
            padding-bottom: $tile-height-small;
        }
    }

    .b-service__border {

        @media #{$small-only} {
            padding: {
                right: gutter(1);
                left: gutter(1);
            };
        }
    }

    .b-service__cnt {
        @media #{$medium-only} {
            @include span(full);
            padding-bottom: $tile-height-small * 1.5;
        }

        @media #{$custom-1024-up} {
            @include span(8 last);
            @include padding-trailer(1);
        }
    }

    .b-service__img-wrap {
        bottom: 0;
        left: 0;
        height: $tile-height-small;
        width: 100%;

        @media #{$medium-up} {
            width: 100%;
            height: $tile-height-small * 1.5;
        }

        @media #{$custom-1024-up} {
            height: 100%;
            width: 33.33333%;
        }
    }

    .b-service__img {
        top: 0;
        height: $tile-height-small;
        left: 0;
        right: auto;
        background-image: url('/img/services/service-3.jpg');
        width: 100%;

        @media #{$medium-up} {
            height: 100%;
        }
    }
}
