$sticky-menu-height: 60px;

.l-stick-menu {
    position: fixed;
    z-index: z('fixed');
}

.l-stick-menu__nav {
    @include transition(transform);
    transform: translateZ(0); // flick on safari fix
    background-color: $green-4;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: $sticky-menu-height;
    z-index: z('fixed');

    @media #{$custom-1024-up} {
        transform: translateY(- $sticky-menu-height);
    }

    &.is-active {
        position: fixed;

        @media #{$custom-1024-up} {
            transform: translateY(0);
        }
    }

    // if page with scroll
    &.add-padding {
        @media #{$big-up} {
            padding-right: 13px; // place for scroll
        }
    }
}

.l-stick-menu__cnt {
    height: $sticky-menu-height;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .b-booking-form__form {
        background-image: url('/img/form-bg-1.jpg');
        @include grid-clearfix();

        @media #{$custom-1024-up} {
            padding-right: 0;
        }
    }
}

.l-stick-menu__popup {
    @include transition(transform);
    @include rhythm-padding(2);
    background-color: $white;
    transform: translateY(-100%) translateZ(0); // flick on safari fix;
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
    overflow-y: auto;

    &.is-active {
        transform: translateY(0);
    }
}

.l-stick-menu__popup-cnt-wrap {
    background: url('/img/menu-popup-bg.svg') 50% 50% no-repeat $white;
    background-size: cover;
    position: absolute;
    width: 100%;
    min-height: calc(100vh - #{$sticky-menu-height});
}

.l-stick-menu__popup-cnt {
    @include padding-leader(2);
    @include padding-trailer(1);
    transform: translateZ(0); // flick on safari fix

    @media #{$small-only} {
        padding: {
            right: gutter(2);
            left: gutter(2);
        };
    }
    @media #{$medium-up} {
        padding-top: rhythm(1) + $sticky-menu-height;
        position: absolute;
        top: 50%;
        transform: translateY(-50%) translateX(-50%);
        left: 50%;
    }
}

.l-stick-menu__popup-nav {
    @include margin-trailer(1);

    @media #{$medium-up} {
        @include margin-trailer(2);
    }
}

.l-stick-menu__popup-lang {
    @include margin-trailer(1);

    @media #{$medium-up} {
        @include margin-trailer(2);
    }
}

.l-stick-menu__form {
    min-width: 80%;
}

.l-stick-menu__logo {
    @include margin-trailer(1);

    @media #{$large-up} {
        @include margin-trailer(2);
    }

    .b-logo__img {
        @media #{$big-up} {
            width: 225px;
        }

        @media #{$large-up} {
            width: 300px;
        }
    }
}

.l-stick-menu__popup-cnt_theme_booking {
    @media #{$small-only} {
        position: absolute;
        top: 50%;
        transform: translateY(-50%) translateX(-50%);
        left: 50%;
    }
}
