$sticky-menu-height: 60px;

.l-stick-menu {
    position: fixed;
    z-index: z('fixed');
    width: 100%;
}

.l-stick-menu__nav {
    @include transition(transform);
    background-color: $green;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: $sticky-menu-height;
    z-index: z('fixed');

    @media #{$big-up} {
        transform: translateY(- $sticky-menu-height);
    }

    &.is-active {
        position: fixed;

        @media #{$big-up} {
            transform: translateY(0);
        }
    }

    // if page with scroll
    &.add-padding {
        @media #{$big-up} {
            padding-right: 15px; // place for scroll
        }
    }
}

.l-stick-menu__cnt {
    height: $sticky-menu-height;
    background: url('/img/form-bg.jpg') $green;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: {
        right: gutter(1);
        left: gutter(1);
    };
}

.l-stick-menu__popup {
    @include transition(transform);
    @include rhythm-padding(2);
    background-color: $white;
    transform: translateY(-100%);
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
    overflow-y: auto;

    &.is-active {
        transform: translateY(0);
    }
}

.l-stick-menu__popup-cnt-wrap {
    background: url('/img/menu-popup-bg.png') 50% 50% no-repeat $white;
    position: absolute;
    width: 100%;
    min-height: calc(100vh - #{$sticky-menu-height});
}

.l-stick-menu__popup-cnt {
    @include padding-trailer(1);
    padding-top: rhythm(1) + $sticky-menu-height;

    @media #{$large-up} {
        padding-top: rhythm(1) + $sticky-menu-height;
        position: absolute;
        top: 50%;
        transform: translateY(-50%) translateX(-50%);
        left: 50%;
    }
}

.l-stick-menu__popup-nav {
    @include margin-trailer(2);
}

.l-stick-menu__popup-lang {
    @include margin-trailer(2);
}
