$nav-color: $black !default;
$nav-font-size: 17px !default;
$nav-font-family: $font !default;
$nav-text-transform: false !default;
$nav-sublist-arrow: 'nav-sublist' !default;
//hover
$nav-color-hover: #ff0000 !default;
//active
$nav-color-active: #ffa500 !default;

.b-nav__list {
    text-align: center;
}

$item-height: 32px;
$item-height-popup: 56px;

.b-nav__item {
    display: block;
}

.b-nav__link {
    $dash-size: 40px;
    @extend %f-nav-link;
    @include transition(color);
    position: relative;
    color: $nav-color;
    text-decoration: none;
    display: inline-block;
    padding-top: 7px;
    padding-bottom: 0px;


    @media #{$big-up} {
        &:hover {
            color: $nav-color-hover;
            border-color: $gold-2;
            text-decoration: none;

            &:after {
                width: auto;
                left: 1px;
                right: 1px;
            }
        }
    }

    &:after {
        @include transition(width, left, right);
        content: '';
        position: absolute;
        bottom: 0;
        width: 0;
        left: 50%;
        right: 50%;
        height: 2px;
        background-color: $gold-2;
        margin-left: 0;
    }

    &.is-active {
        color: $nav-color-active;
        cursor: default;
        z-index: z('default');

        &:after {
            transition-duration: .45s;
            width: 0;
            left: 0;
        }
    }
}

.b-nav__link-line {
    @include transition(width, left);
    content: '';
    position: absolute;
    top: 100%;
    width: 0;
    left: 0;
    height: 2px;
    background-color: $gold-2;
    margin-left: 0;
}

// STATE
.b-nav_theme_popup {
    .b-nav__item {
        padding: {
            top: 5px;
            bottom: 5px;
        };

        @media #{$medium-up} {
            padding: {
                top: 10px;
                bottom: 10px;
            };
        }

        @media #{$large-up} {
            padding: {
                top: 13px;
                bottom: 13px;
            };
        }

        @media #{$xlarge-up} {
            padding: {
                top: 15px;
                bottom: 15px;
            };
        }
    }

    .b-nav__link {
        @extend %f-nav-link-stick;
        display: inline-block;
    }
}