$nav-color: $black !default;
$nav-font-size: 17px !default;
$nav-font-family: $font !default;
$nav-text-transform: false !default;
$nav-sublist-arrow: 'nav-sublist' !default;
//hover
$nav-color-hover: #ff0000 !default;
//active
$nav-color-active: #ffa500 !default;

.b-nav__list {
    text-align: center;
}

$item-height: 36px;

.b-nav__item {
    display: block;
    border-top: 1px solid $gray;
    padding: {
        top: ($item-height - $base-line-height) / 2;
        bottom: ($item-height - $base-line-height) / 2;
    };

    &:last-child {
        border-bottom: 1px solid $gray;
    }
}

.b-nav__link {
    $dash-size: 40px;
    @include adjust-font-size-to($nav-font-size);
    @include transition(color);
    position: relative;
    color: $nav-color;
    font-family: $nav-font-family;
    text-decoration: none;

    &.is-active {
        color: $nav-color-active;
        border-color: $gold-2;
        cursor: default;
        text-decoration: none;

        &:after {
            width: $dash-size;
            left: 50%;
            margin-left: - $dash-size / 2;
            transform: scaleX(1);
        }
    }

    &:hover {
        color: $nav-color-hover;
        border-color: $gold-2;
        text-decoration: none;

        &:after {
            transform: scaleX(1);
        }
    }

    &:after {
        @include transition(transform);
        content: '';
        position: absolute;
        top: 100%;
        width: 100%;
        left: 0;
        height: 2px;
        background-color: $gold-2;
        transform: scaleX(0);
    }
}
