$nav-color: $black !default;
$nav-font-size: 17px !default;
$nav-font-family: $font !default;
$nav-text-transform: false !default;
$nav-sublist-arrow: 'nav-sublist' !default;
//hover
$nav-color-hover: #ff0000 !default;
//active
$nav-color-active: #ffa500 !default;

.b-nav__list {
    text-align: center;
}

$item-height: 32px;
$item-height-popup: 56px;

.b-nav__item {
    display: block;
}

.b-nav__link {
    $dash-size: 40px;
    @extend %f-nav-link;
    @include transition(color);
    position: relative;
    color: $nav-color;
    text-decoration: none;

    &:hover {
        color: $nav-color-hover;
        border-color: $gold-2;
        text-decoration: none;

        &:after {
            width: 100%;
            left: 0;
        }
    }

    &:after {
        @include transition(width, left);
        transition-property: all;
        content: '';
        position: absolute;
        top: 100%;
        width: 0;
        left: 50%;
        height: 2px;
        background-color: $gold-2;
        margin-left: 0;
    }

    &.is-active {
        color: $nav-color-active;
        cursor: default;
        z-index: z('default');

        &:after {
            transition-duration: .45s;
            width: 0;
            left: 0;
        }
    }

    &.is-animated {
        &:after {
            left: 50%;
            width: 17vw;
        }

        @media #{$large-up} {
            &:after {
                width: 15vw;
            }
        }

        @media #{$xlarge-up} {
            &:after {
                width: 14vw;
            }
        }

        @media #{$custom-2560-up} {
            &:after {
                width: 350px;
            }
        }
    }
}

// STATE
.b-nav_theme_popup {

    .b-nav__link {
        @extend %f-nav-link-stick;
    }
}
