.l-actions-showcase {
    @extend %l-row;
    @include margin-trailer(1.5);
    @include grid-clearfix();

    &:first-child {
        @include padding-leader(2);
    }


    @media #{$medium-up} {
        @include margin-trailer(2.5);

        &:first-child {
            @include padding-leader(3);
        }
    }

    @media #{$big-up} {
        @include margin-trailer(5);

        &:first-child {
            @include padding-leader(5);
        }
    }

    &:last-child {
        @include margin-trailer(0);
    }
}

.l-actions-showcase__row {
    display: flex;
    flex-flow: column nowrap;
    background-color: $gold-2;

    @media #{$medium-up} {
        flex-flow: row wrap;
    }

    @media #{$big-up} {
        @include span(10 center);
    }
}

.l-actions-showcase__cnt {
    flex: 0 1 auto;

    @media #{$medium-up} {
        flex: 0 1 48%;
    }
}

.l-actions-showcase__img {
    position: relative;
    display: block;
    overflow: hidden;
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1);

    @media #{$small-only} {
        height: 400px;
        order: 2;
    }

    @media #{$medium-up} {
        flex: 0 1 52%;
        min-height: 650px;
    }

    @media #{$big-up} {
        &:hover {
            img {
                transform: translateX(-50%) scale(1.1);
            }
        }
    }

    img {/*
        height: 100%;
        max-width: none;
        min-width: 100%;*/

        @media #{$medium-up} {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%) scale(1);
            height: auto;
            min-height: 100%;
        }

        @media #{$big-up} {
            @include transition(transform);
            transition-duration: .75s;
        }
    }
}
