.l-propose {
    @include margin-trailer(1);
    padding: {
        right: gutter(2);
        left: gutter(2);
    };

    @media #{$medium-up} {
        @include margin-trailer(3);
    }

    @media #{$big-up} {
        @include margin-trailer(4.5);
    }
}
