.l-room-item__params {
    @include margin-trailer(2);
    @include padding-leader(1.5);
    @include padding-trailer(1);
    background-color: $green;

    padding: {
        right: gutter(2);
        left: gutter(2);
    };

    @media #{$big-up} {
        @include margin-trailer(3.5);
        padding: {
            right: gutter(4);
            left: gutter(4);
        };
    }
}

.l-room__feature {
    @include margin-trailer(1);
    padding: {
        right: gutter(2);
        left: gutter(2);
    };

    @media #{$big-up} {
        @include margin-trailer(2);
        padding: {
            right: gutter(4);
            left: gutter(4);
        };
        margin: {
            right: gutter(4);
            left: gutter(4);
        };
    }
}

.l-room-item__list-row {
    @include margin-trailer(1);
    @include grid-clearfix();
    padding: {
        right: gutter(2);
        left: gutter(2);
    };

    @media #{$big-up} {
        @include margin-trailer(3.5);
        padding: {
            right: gutter(4);
            left: gutter(4);
        };
        margin: {
            right: gutter(4);
            left: gutter(4);
        };
    }
}

.l-room-item__list-col {

    @media #{$small-only} {
        &:first-child {
            ul {
                margin-bottom: 0;
            }
        }
    }

    @media #{$medium-up} {
        @include span(6);
    }
}

.l-room-item__gallery {
    position: relative;
}

.l-room-item__footer {
    position: relative;
    height: 280px;

    @media #{$medium-up} {
        height: 470px;
    }
}

.l-room-item__img-wrap {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: z('default');
    opacity: .2;

    @media #{$medium-up} {
        bottom: -72px;
        right: -55px;
        opacity: 1;
    }

    @media #{$big-up} {
        right: -80px;
        bottom: -88px;
    }

    &:before,
    &:after {
        content: '';
        position: absolute;
        background-color: white;
        display: none;
        z-index: z('hide');

        @media #{$medium-up} {
            display: block;
        }
    }

    &:before {
        width: 2px;
        height: 90px;
        right: 33px;
        bottom: 170px;

        @media #{$big-up} {
            bottom: 175px;
            right: 38px;
        }
    }

    &:after {
        height: 2px;
        width: 400px;
        right: 100px;
        bottom: 70px;

        @media #{$medium-up} {
            bottom: 86px;
        }

        @media #{$big-up} {
            right: 85px;
            width: 420px;
        }
    }
}

.l-room-item__footer-propose {
    padding-top: 50px;

    @media #{$medium-up} {
        padding-top: 130px;
    }

    @media #{$big-up} {
        padding-top: 180px;
    }
}

// STATE
.l-room-item__params_theme_price {
    @include padding-leader(1);
    @include padding-trailer(1);
    background-color: $gold-2;
    margin-bottom: 0;

    .b-room-param__txt {
        background-color: $gold-2;
    }

    .b-room-param__data {
        background-color: $gold-2;
    }
}
