.l-room-item {
    @include grid-clearfix();
}

.l-room-item__params {
    @include margin-trailer(1);
}

.l-room-item__gallery {
    position: relative;
    
    @media #{$medium-up} {
        @include span(8);
        padding-right: gutter(1);
    }
}

.l-room-item__descr {
    @include padding-x(gutter(1.5));
    
    @media #{$medium-up} {
        @include span(4);
    }
}

.l-room-item__feature {
    @include margin-trailer(1);
}

.l-room-item__hang {
    @include margin-trailer(1);
    @include grid-clearfix();
}

.l-room-item__footer {
    position: relative;
    height: 280px;

    @media #{$medium-up} {
        height: 470px;
    }
}

.l-room-item__img-wrap {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: z('default');
    opacity: .2;

    @media #{$medium-up} {
        bottom: -72px;
        right: -55px;
        opacity: 1;
    }

    @media #{$big-up} {
        right: -80px;
        bottom: -88px;
    }

    &:before,
    &:after {
        content: '';
        position: absolute;
        background-color: white;
        display: none;
        z-index: z('hide');

        @media #{$medium-up} {
            display: block;
        }
    }

    &:before {
        width: 2px;
        height: 90px;
        right: 33px;
        bottom: 170px;

        @media #{$big-up} {
            bottom: 175px;
            right: 38px;
        }
    }

    &:after {
        height: 2px;
        width: 400px;
        right: 100px;
        bottom: 70px;

        @media #{$medium-up} {
            bottom: 86px;
        }

        @media #{$big-up} {
            right: 85px;
            width: 420px;
        }
    }
}

.l-room-item__footer-propose {
    padding-top: 50px;

    @media #{$medium-up} {
        padding-top: 130px;
    }

    @media #{$big-up} {
        padding-top: 180px;
    }
}

.l-room-item__btn {
    @include margin-trailer(1);
}
