.l-showcase {
    @extend %l-row;
    @include grid-clearfix();
    @include margin-trailer(2);
    background-color: $gold;

    @media #{$big-up} {
        @include margin-trailer(3);
        height: 650px;
    }
}

.l-showcase__gallery {
    @media #{$big-up} {
        @include span(7.5);
    }
}

.l-showcase__descr {
    @include padding-trailer(1);

    @media #{$big-up} {
        @include span(4.5 last);
        height: 100%;
    }
}

//STATE
.l-showcase_theme_img-bg {
    background: url('/img/atmosphere-bg.png') 100% 100% no-repeat $green;
    background-size: contain;
}
