.l-showcase__inner-row {
    @extend %l-row;
}

.l-showcase {
    @include grid-clearfix();
    @include margin-trailer(2);
    position: relative;
    background-color: $gold;

    @media #{$custom-1024-up} {
        @include span(10 center);
        padding: 0;
    }

    @media #{$big-up} {
        @include margin-trailer(3);
        display: flex;
        flex-flow: row nowrap;
    }
}

.l-showcase__gallery {
    position: relative;

    @media #{$big-up} {
        @include span(6.5);
    }

    .b-gallery {
        @media #{$big-up} {
            height: 100%;
        }
    }
}

.l-showcase__descr {
    @include padding-trailer(1);

    @media #{$big-up} {
        @include span(5.5);
        @include padding-trailer(1);
        height: 100%;
    }
}

//STATE
.l-showcase_theme_img-bg {
    background-color: $green;

    &:before,
    &:after {
        background-color: $gold;
    }

    .border-horizontal {
        &:before,
        &:after {
            background-color: $gold;
        }
    }

    .l-showcase__descr {
        background: url('/img/feature-2-bg.svg') 100% 100% no-repeat $green;
        background-size: contain;
    }

    .b-gallery__arrow_show_prev {
        left: gutter(4.5);
    }

    .b-gallery__arrow_show_next {
        right: gutter(4.5);
    }
}

.l-showcase_white_borders {
    &.border-vertical {
        &:before,
        &:after {
            background-color: $white;
        }
    }

    .border-horizontal {
        &:before,
        &:after {
            background-color: $white;
        }
    }
}
