.b-btn.is-disabled,
.b-btn[disabled] {
    background-color: $btn-bg-color-disabled;
    color: $btn-color-disabled;
    border-color: $btn-bd-color-disabled;
    cursor: default;

    &:hover,
    &:focus {
        border-color: $btn-bd-color-disabled;
    }
}

.b-btn_width_auto {
    width: auto;
    padding: {
        left: gutter(1);
        right: gutter(1);
    };
}

.b-btn_tt_uppercase {
    @include text-transform();
    padding: {
        top: btn-vertical-paddings($btn-height) + 1px;
        bottom: btn-vertical-paddings($btn-height) - 1px;
    };
}

// List heights
$btn-list-height:
                ('small' .5)
                ('medium' 1)
                ('big' 1.5)
                ('large' 2);

@each $height in $btn-list-height {
    $name: nth($height, 1);
    $height: nth($height, 2);

    .b-btn_height_#{$name} {
        @include btn-vertical-paddings($height);
    }
}

.b-btn_bg_white {
    background-color: $white;
}
