.b-menu-reviews {
    color: $black-2;
    text-align: center;
}

.b-menu-reviews__rate {
    @include sprite('mark-rate');
    display: inline-block;
}

.b-menu-reviews__txt {
    @extend %f-nav-link;
}

.b-menu-reviews__link {
    @extend %stretch-green-link;
    @extend %f-menu-reviews;
}
