.b-menu-reviews {
    color: $black-2;
    text-align: center;
}

.b-menu-reviews__rate {
    @include sprite('mark-rate');
    display: inline-block;
}

.b-menu-reviews__txt {
    @include adjust-font-size-to(14px);
}

.b-menu-reviews__link {
    @extend %stretch-green-link;
    @include adjust-font-size-to(11px);
    line-height: 19px;
    text-transform: uppercase;
    font-family: $font-roman;
}
