.b-menu-lang {
    text-align: center;
}

.b-menu-lang__link {
    text-transform: uppercase;
    font-family: $font-roman;
    color: $gray-2;
    margin: {
        right: gutter(.5);
        left: gutter(.5);
    };

    &.is-active {
        color: $black-2;
    }
}

