.l-footer__cnt
    .l-limit-wrap
        .l-footer__row
            .l-footer__col
                .b-olympia
                    .b-olympia__txt Сделано в
                    a(href="http://www.olympia.digital/" target="blank_" title="Олимпия").b-olympia__logo-wrap
                        include _olympia
            .l-footer__col
                .b-menu-contacts.b-menu-contacts_theme_footer
                    a(href="tel: +78126708683").b-menu-contacts__tel +7&nbsp;(812)&nbsp;670&ndash;86&ndash;83
                    a(href="/html/contacts.html#map-content").b-menu-contacts__map
                        | г. Санкт-Петербург
                        | <br><span class="no-wrap">ул. Достоевского, 19/21, лит. Б</span>
            .l-footer__col
                a(href="#" title="Игры Разума").b-mind-games
