.l-footer__cnt
    .l-limit-wrap-full
        .l-footer__row
            .l-footer__col
                .b-olimpia
                    .b-olimpia__txt Сделано в
                    a(href="#").b-olimpia__logo
            .l-footer__col
                .b-menu-contacts.b-menu-contacts_theme_footer
                    a(href="tel: +78126708683").b-menu-contacts__tel +7&nbsp;(812)&nbsp;670&ndash;86&ndash;83
                    a(href="javascript:;").b-menu-contacts__map
                        | г.Санкт-Петербург
                        | <br>ул.Достоевского, 19/21, лит.Б
            .l-footer__col
                .b-mind-games
