.b-gallery.j-gallery
    .b-gallery__base(
        data-height="100%"
        data-arrows="false"
        data-nav="dots"
        data-fit="cover"
    )
        a(href="/img/home-gallery/gallery-1.jpg")
        a(href="http://placehold.it/960x450")
        a(href="http://placehold.it/960x450")
        a(href="/img/home-gallery/gallery-1.jpg")
        a(href="/img/home-gallery/gallery-1.jpg")
        a(href="/img/home-gallery/gallery-1.jpg")
        a(href="http://placehold.it/960x450")
        a(href="http://placehold.it/960x450")
        a(href="http://placehold.it/960x450")
        a(href="http://placehold.it/960x450")
        a(href="http://placehold.it/960x450")
        a(href="http://placehold.it/960x450")
        a(href="http://placehold.it/960x450")

    a(href="javascript:;").j-gallery__prev.b-gallery__arrow.b-gallery__arrow_show_prev Показать предыдущий слайд
    a(href="javascript:;").j-gallery__next.b-gallery__arrow.b-gallery__arrow_show_next Показать следущий слайд
