.l-map
    #map.j-map.b-map(data-zoom="15" data-scrollwheel="false")
script.
    window.map = {}
    window.map['map'] = {
        markers: [
            {
                coords      : [59.923325, 30.346303],
                image             : '/img/markers/here.svg'
            }
        ]
    }

