#popup-map-common.b-place-popup.mfp-hide
    #map.b-place-popup__map.j-map(data-noinit data-zoom="15")
        script.
            window.map = {}
            window.map['map'] = {
                markers: [
                    {
                        coords: [59.9234703, 30.346603],
                        image: '/img/markers/here.svg'
                    }
                ]
            }

