#map.b-map__home.j-map.j-map-no-init(data-noinit data-zoom="15" )
script.
    window.map = {}
    window.map['map'] = {
        markers: [
            {
                coords      : [59.923350, 30.346303],
                image       : '/img/markers/here.svg'
            }
        ]
    }

