.l-menu.j-header-menu
    .l-menu__logo
        .b-menu-logo
            include _logo
            .b-menu-logo__txt boutique hotel
    .l-menu__nav
        include _nav
    .l-menu__contacts
        .b-menu-contacts
            a(href="tel: +78126708683").b-menu-contacts__tel +7&nbsp;(812)&nbsp;670&ndash;86&ndash;83
            .b-menu-contacts__map
                | г. Санкт-Петербург
                | <br>ул. Достоевского, 19/21, лит. Б
            a(href="#popup-map-common").b-btn.b-btn_width_auto.j-map-popup Посмотреть на карте
    .l-menu__lang
        .b-menu-lang
            a(href="/").b-menu-lang__link.is-active ru
            a(href="/").b-menu-lang__link en

    .l-menu__reviews.j-reviews
        .b-menu-reviews
            .b-menu-reviews__rate
            .b-menu-reviews__txt по мнению tripadvisor.ru
            a(href="#").b-menu-reviews__link Посмотреть отзывы
