nav.b-nav
   ul.b-nav__list
      li.b-nav__item
         a(href="/").b-nav__link.is-active Атмосфера
      li.b-nav__item
         a(href="#").b-nav__link Номера
      li.b-nav__item
         a(href="#").b-nav__link Спецпредложения
      li.b-nav__item
         a(href="#").b-nav__link Дополнительные услуги
      li.b-nav__item
         a(href="#").b-nav__link Ресторан
      li.b-nav__item
         a(href="#").b-nav__link Контакты
