nav.b-nav
   ul.b-nav__list
      li.b-nav__item
         a(href="/html/atmosphere.html" class=(activePage == 'atmosphere' ? 'b-nav__link is-active': 'b-nav__link')).b-nav__link Атмосфера
      li.b-nav__item
         a(href="/html/room.html" class=(activePage == 'room' ? 'b-nav__link is-active': 'b-nav__link')) Номера
      li.b-nav__item
         a(href="/html/actions.html" class=(activePage == 'actions' ? 'b-nav__link is-active': 'b-nav__link'))  Спецпредложения
      li.b-nav__item
         a(href="/html/services.html" class=(activePage == 'services' ? 'b-nav__link is-active': 'b-nav__link'))  Дополнительные услуги
      li.b-nav__item
         a(href="/html/cafe.html" class=(activePage == 'cafe' ? 'b-nav__link is-active': 'b-nav__link')) Ресторан
      li.b-nav__item
         a(href="/html/contacts.html" class=(activePage == 'contacts' ? 'b-nav__link is-active': 'b-nav__link'))  Контакты
