#popup.mfp-hide.b-popup
   a(href="javascript:;" title="Закрыть").b-popup__close Закрыть попап
   .b-popup__cnt
      .l-stick-menu__popup-cnt
         .l-stick-menu__popup-nav
            nav.b-nav.b-nav_theme_popup
               ul.b-nav__list
                  li.b-nav__item
                     a(href="/").b-nav__link.is-active Атмосфера
                  li.b-nav__item
                     a(href="#").b-nav__link Номера
                  li.b-nav__item
                     a(href="#").b-nav__link Спецпредложения
                  li.b-nav__item
                     a(href="#").b-nav__link Дополнительные услуги
                  li.b-nav__item
                     a(href="#").b-nav__link Ресторан
                  li.b-nav__item
                     a(href="#").b-nav__link Контакты

         .l-stick-menu__popup-lang
            .b-menu-lang.b-menu-lang_theme_popup
               a(href="/").b-menu-lang__link.is-active ru
               a(href="/").b-menu-lang__link en

         .l-stick-menu__popup_contacts
            .b-menu-contacts
               a(href="tel: +78126708683").b-menu-contacts__tel +7&nbsp;(812)&nbsp;670&ndash;86&ndash;83
               a(href="javascript:;").b-menu-contacts__map
                  | г.Санкт-Петербург
                  | <br>ул.Достоевского, 19/21, лит.Б
