#room-popup.mfp-hide.b-popup
    a(href="javascript:;" title="Закрыть").b-popup__close ×
    .b-popup__cnt
        .l-room-popup.j-gallery-container
            .l-room-popup__cnt
                .l-room-popup__header
                    h2.f-ttl-smaller Стандартный одноместный номер
                    div.f-ttl-caption Идеально для путешественника
                .l-room-popup__param
                    .b-room-param
                        .b-room-param__txt Площадь номера
                        .b-room-param__data 13 м<sup>2</sup>
                    .b-room-param
                        .b-room-param__txt Кровати
                        .b-room-param__data 1 односпальная кровать
                    .b-room-param
                        .b-room-param__txt Максимальное количество гостей
                        .b-room-param__data 1
                .l-room-popup__feature
                    ul.b-room-list
                        li.b-room-list__item
                            .b-room-list__item-img.b-room-list__item-img_img_window
                            .b-room-list__item-txt Мансардные окна
                        li.b-room-list__item
                            .b-room-list__item-img.b-room-list__item-img_img_fan
                            .b-room-list__item-txt Кондиционер
                        li.b-room-list__item
                            .b-room-list__item-img.b-room-list__item-img_img_wi-fi
                            .b-room-list__item-txt Бесплатный Wi-Fi
                .l-room-popup__list-row.b-typo-reset
                    .l-room-popup__list-col
                        ul
                            li Мини-бар
                            li Тапочки,халат и полотенце
                            li Сейф
                    .l-room-popup__list-col
                        ul
                            li Фен
                            li Телефон
                            li Услуга «звонок-будильник»
                .l-room-popup__param.l-room-popup__param_theme_price
                    .b-room-param
                        .b-room-param__txt Стоимость
                        .b-room-param__data от 5 800 <span class="b-ruble">g</span> до 10 900 <span class="b-ruble">g</span>
            .l-room-popup__gallery
                include _gallery-room
