extends _layout
block vars
    -var activePage = 'actions'
block title
    title Спецпредложения
block gallery
    .b-cafe-gallery(style="background-image: url('/img/actions-bg-1.jpg');")
         .b-cafe-gallery__border
             .b-cafe-gallery__cnt
                 h1.b-cafe-gallery__ttl Особенное утро – <br>особенное место
                 .b-cafe-gallery__txt День свадьбы должен состоять только из приятных моментов с раннего утра – когда невеста и жених начинают сборы на торжество – и до вечера, наполненного романтикой и приятными воспоминаниями.

block content
    .l-main-wrap.is-stick
        section.l-action
            .l-action__row
                .l-action__border
                    .l-action__cnt.b-typo-reset
                        .l-action__ttl.is-color-green.b-bottom-dash-pos-left
                            h2.f-ttl Особенное утро –
                            div.f-ttl-note особенное место

                        .l-two-column
                            .l-two-column__col
                                img(src="/img/actions-3.jpg" alt="Невеста").is-full-width
                            .l-two-column__col
                                p День свадьбы должен состоять только из приятных моментов с раннего утра – когда невеста и жених начинают сборы на торжество – и до вечера, наполненного романтикой и приятными воспоминаниями.
                                p.reference
                                    strong Доверяя подготовку к свадьбе нашему отелю, молодые люди могут быть уверены, что мы продумаем каждую деталь этого важного дня. Проснувшись в одном из атмосферных номеров, невеста сможет принять горячую ванну и начать сборы. Стилисты и визажисты придут в номер и помогут создать идеальный образ.
                                p В зависимости от ваших пожеланий мы организуем фото– и видеосъемку от самого пробуждения в номере до выхода из отеля или отдельно процесса сборов. Съемка позволит уловить каждый штрих: платье, букет, важные аксессуары, наряд жениха – все, что так внимательно выбирается и готовится к свадьбе. Классические интерьеры номеров станут прекрасным дополнением предсвадебной картины.

                        .headlines На память останутся не только прекрасные прекрачные постановочные кадры, но и запечатленные эмоции, которые сопровождают утро молодых
                        p
                            img.is-full-width(src="/img/actions-4.jpg" alt="Свадебные кольца на подушке")
                        .text-with-padding
                            ol
                                li Сборы окончены, фотосъемка завершена – пора отправляться на торжество.
                                li По возвращению молодую пару ждет роскошно украшенный номер с бутылкой шампанского и фруктами.
                                li Утром в номер будет доставлен праздничный завтрак, а у дверей отеля ждать такси, готовое отвезти молодоженов в аэропорт для отправления в свадебное путешествие.

                            p Атмосфера нашего бутик-отеля, созданная дизайнерскими интерьерами, мансардными окнами в номерах, приветливым персоналом и множеством дополнительных возможностей, поможет наполнить день свадьбы приятными моментами, которые запомнятся на всю жизнь.
                            blockquote Специалисты типографии, расположенной в одном здании с отелем, возьмут на себя оформление и изготовление свадебных приглашений – одной из важных деталей подготовки к свадебному торжеству.
                        p.headlines На память останутся не только прекрасные прекрачные постановочные кадры, но и запечатленные эмоции, которые сопровождают утро молодых
                        .text-with-padding
                            ul
                                li Сборы окончены, фотосъемка завершена – пора отправляться на торжество.
                                li По возвращению молодую пару ждет роскошно украшенный номер с бутылкой шампанского и фруктами.
                                li Утром в номер будет доставлен праздничный завтрак, а у дверей отеля ждать такси, готовое отвезти молодоженов в аэропорт для отправления в свадебное путешествие.


