extends _layout
block title
    title Ресторан
block gallery
     .b-cafe-gallery
         .b-cafe-gallery__border
             .b-cafe-gallery__cnt
                 .b-cafe-gallery__ttl Весной 2016 года ожидается открытие трехэтажного ресторанного комплекса «Симпозиум»
                 .b-cafe-gallery__txt Включающего в себя литературный ресторан, философское кафе, сигарный клуб и банкетный зал с открытой террасой на крыше

block content
    .l-main-wrap
