extends _layout-home
block title
    title Главная страница
block content
    .l-home
        include blocks/_stick-menu
        include blocks/_home-header

        .l-home__cnt
            section.l-article.l-limit-wrap
                .l-article__cnt
                    .b-article
                        .b-article__border
                            .b-article__img-wrap
                                img(src="/img/feature-1.png" alt="Зарисовка дома Ф.М. Достоевского")
                            article.b-article__cnt
                                .b-article__header
                                    .b-article__ttl-note В каждой детали
                                    h1.b-article__ttl Дух Петербурга
                                p Бутик-отель «Ахиллес и Черепаха» находится в
                                    | историческом центре Санкт-Петербурга рядом с известным домом Ф.М. Достоевского,
                                    | который сейчас занимает литературно-мемориальный музей писателя. Расположенный
                                    | в здании доходного дома XIX века, отель наполнен духом непарадного Петербурга – им
                                    | пронизана каждая деталь: от натуральных материалов в дизайне до открывающегося
                                    | из окон вида на мятежное петербургское небо.
                                .b-article__btn
                                    a(href="#").b-btn.b-btn_width_auto Ощутить вдохновение

            section.l-feature.l-limit-wrap
                .l-feature__cnt
                    .b-feature
                        .b-feature__img-wrap
                            img(src="/img/feature-2.png" alt="Морская черепаха")
                        .b-feature__cnt
                            .b-feature__header
                                h1.b-feature__ttl 10 уютных номеров
                                .b-feature__ttl-note для любого типа поездки
                            ul.b-feature__list
                                li.b-feature__item
                                    .b-feature__item-img
                                    .b-feature__item-txt Экологичная мебель и средства для уборки
                                li.b-feature__item
                                    .b-feature__item-img.b-feature__item-img_img_bed
                                    .b-feature__item-txt Комфортные спальные места
                                li.b-feature__item
                                    .b-feature__item-img.b-feature__item-img_img_window
                                    .b-feature__item-txt Мансардные окна
                                li.b-feature__item
                                    .b-feature__item-img.b-feature__item-img_img_fan
                                    .b-feature__item-txt Кондиционер
                                li.b-feature__item
                                    .b-feature__item-img.b-feature__item-img_img_eat
                                    .b-feature__item-txt Континентальный завтрак
                                li.b-feature__item
                                    .b-feature__item-img.b-feature__item-img_img_wi-fi
                                    .b-feature__item-txt Высокоскоростной Wi-Fi

            section.l-booking-rooms.l-limit-wrap
                .l-booking-rooms__row
                    .l-booking-rooms__item
                        .b-room
                            a(href="#").b-room__cnt-link
                            .b-room__border
                                .b-room__specials.b-btn Спецпредложение
                                .b-room__img(style="background-image: url('/img/room-1.jpg')")
                                .b-room__cnt
                                    .b-room__cnt-wrap
                                        .b-room__ttl Одноместный стандарт
                                        .b-room__descr Идеально для путешественников
                                        .b-room__booking
                                            span.b-room__price 6 400 <span class="ruble">Р</span> <span class="b-room__old-price">7 900 Р</span>
                                            span.b-room__time за 3 ночи
                                        .b-room__btn
                                            a(href="#").b-btn.b-btn_width_auto.b-btn_bg_white Забронировать

                    .l-booking-rooms__item
                        .b-room
                            a(href="#").b-room__cnt-link
                            .b-room__border
                                .b-room__specials.b-room__specials_bg-color_blue.b-btn Популярно
                                .b-room__img(style="background-image: url('/img/room-1.jpg')")
                                .b-room__cnt
                                    .b-room__cnt-wrap
                                        .b-room__ttl двухместный стандарт
                                        .b-room__descr идеально для семейной пары
                                        .b-room__booking
                                            span.b-room__price 7 900 <span class="ruble">Р</span> <span class="b-room__old-price">7 900 Р</span>
                                            span.b-room__time за 3 ночи
                                        .b-room__btn
                                            a(href="#").b-btn.b-btn_width_auto.b-btn_bg_white Забронировать

                    .l-booking-rooms__item
                        .b-room
                            a(href="#").b-room__cnt-link
                            .b-room__border
                                .b-room__img(style="background-image: url('/img/room-1.jpg')")
                                .b-room__cnt
                                    .b-room__cnt-wrap
                                        .b-room__ttl одноместный комфорт
                                        .b-room__descr идеально для бизнес-гостя
                                        .b-room__booking
                                            span.b-room__price 10 800 <span class="ruble">Р</span> <span class="b-room__old-price">7 900 Р</span>
                                            span.b-room__time за 3 ночи
                                        .b-room__btn
                                            a(href="#").b-btn.b-btn_width_auto.b-btn_bg_white Забронировать

                    .l-booking-rooms__item
                        .b-room
                            a(href="#").b-room__cnt-link
                            .b-room__border
                                .b-room__img(style="background-image: url('/img/room-1.jpg')")
                                .b-room__cnt
                                    .b-room__cnt-wrap
                                        .b-room__ttl двухместный ДЕЛЮКС
                                        .b-room__descr идеально для молодоженов
                                        .b-room__booking
                                            .b-room__message Нет доступных номеров в указанные даты

            section.l-article.l-limit-wrap
                .l-article__cnt
                    .b-article.b-article_theme_gold
                        .b-article__border
                            .b-article__img-wrap
                                img(src="/img/feature-3.png" alt="Зарисовка дома Ф.М. Достоевского")
                            article.b-article__cnt
                                .b-article__header
                                    h1.b-article__ttl Нашим гостям
                                    .b-article__ttl-note особенно нравится:
                                ul.b-article__features
                                    li.b-article__feature
                                        .b-article__txt-ttl Приветливый персонал
                                        p Готовы прийти на помощь в любое время суток и решить любую проблему или исполнить пожелание!
                                    li.b-article__feature
                                        .b-article__txt-ttl Атмосфера отеля
                                        p Будто переносишься в 19 век и действительно оказываешься в старинном непарадном Петербурге.
                                    li.b-article__feature
                                        .b-article__txt-ttl Прекрасные завтраки
                                        p Разнообразие вкусных, привычных для завтрака блюд в сочетании с крепким кофе делает утро невероятно уютным и приятным!
                                .b-article__btn
                                    a(href="#").b-btn.b-btn_width_auto Ощутить вдохновение

            section.l-services
                .l-services__header.l-limit-wrap
                    .l-services__row
                        .b-article
                            .b-feature__header
                                h1.b-feature__ttl Дополнительный услуги
                                .b-feature__ttl-note для гостей отеля

                .l-services__tiles.l-limit-wrap.no-padding
                    .l-services__tile.l-services__tile_numb_1
                        .b-service
                            .b-service__cnt
                                .b-service__header
                                    .b-service__ttl-note Ранний заезд и поздний выезд
                                p В ритме современного мира не всегда удается следовать
                                    | строгим правилам заселения в отель. У нас вы можете
                                    | воспользоваться услугой, которая решит проблему – ранний
                                    | заезд доступен с шести часов утра, а поздний выезд – до шести часов вечера.
                            .b-service__img

                    .l-services__tile.l-services__tile_numb_3
                        .b-service
                            .b-service__cnt
                                .b-service__header
                                    .b-service__ttl-note Трансфер
                                p В ритме современного мира не всегда удается успеть продумать все детали поездки, в том числе и аренду транспорта.
                                p Мы всегда готовы встретить вас и помочь с комфортом добраться до отеля или пункта вашего отправления.
                            .b-service__img

                    .l-services__tile.l-services__tile_numb_7.show-on-touch
                        .b-service
                            .b-service__cnt
                                .b-service__header
                                    .b-service__ttl-note Оперативная полиграфия
                                p В здании отеля располагается типография «Трактат», где бизнес-гости
                                    | могут оперативно воплотить в жизнь идеи в области дизайна и полиграфии.
                            .b-service__img

                    .l-services__tile.l-services__tile_numb_2
                        .b-service.has-lines
                            .b-service__border
                                .b-service__cnt
                                    .b-service__header
                                        .b-service__ttl-note Завтрак в номер
                                    p Завтрак в номере создает по-настоящему домашнюю атмосферу.
                            .b-service__img

                    .l-services__tile.l-services__tile_numb_4
                        .b-service.has-lines
                            .b-service__border
                                .b-service__header
                                    .b-service__ttl-note Бизнес центр
                                p В бизнес-поездках просто необходимо тихое место,
                                    | где можно спокойно и комфортно поработать. В нашем отеле для
                                    | деловых путешественников доступен зал, оборудованный WiFi-соединением,
                                    | компьютером и принтером, для работы и проведения переговоров.
                            .b-service__img

                    .l-services__tile.l-services__tile_numb_5
                        .b-service.has-lines
                            .b-service__border
                                .b-service__header
                                    .b-service__ttl-note Залы для мероприятий
                                p Для деловых гостей города мы предлагаем возможность арендовать один из пяти
                                    | залов с вместимостью до 130 человек. Здесь вы можете реализовать любые
                                    | типы мероприятий – от деловых переговоров до крупных конференций.
                            .b-service__img

                    .l-services__tile.l-services__tile_numb_6.hide-on-tablet
                        .b-service.has-lines
                            .b-service__border
                                .b-service__header
                                    .b-service__ttl-note Вызов такси
                                p По вашей просьбе персонал отеля поможет вызвать такси в любую точку города.
                            .b-service__img

                    .l-services__tile.l-services__tile_numb_7.show-on-desktop
                        .b-service
                            .b-service__cnt
                                .b-service__header
                                    .b-service__ttl-note Оперативная полиграфия
                                p В здании отеля располагается типография «Трактат», где бизнес-гости
                                    | могут оперативно воплотить в жизнь идеи в области дизайна и полиграфии.
                            .b-service__img

                    .l-services__tile.l-services__tile_numb_8
                        .b-service.has-lines
                            .b-service__border
                                .b-service__cnt
                                    .b-service__header
                                        .b-service__ttl-note Студия красоты Camera Obscura
                                    p Гостям отеля предоставляется скидка 15% на все услуги студии красоты,
                                        | профессионалы которой помогут подготовиться к важной встрече или просто насладиться отдыхом.
                            .b-service__img



