extends _layout
block vars
    -var activePage = 'room'
block title
    title Номера
block gallery
     .b-cafe-gallery(style="background-image: url('/img/room-bg-1.jpg');")
         .b-cafe-gallery__border
             .b-cafe-gallery__cnt
                 h2.b-cafe-gallery__ttl Уютные номера нашего бутик-отеля оформлены в классическом стиле
                 .b-cafe-gallery__txt Представленном лепниной, декоративной штукатуркой, деревянными столешницами в ванных комнатах, классической мебелью и каминными порталами

block content
    .l-main-wrap.is-stick
        section.l-article.l-limit-wrap.has-border
            .l-article__cnt
                .b-article.b-article_theme_gold.b-article_theme_border-scheme_4
                    .b-article__border
                        .b-article__img-wrap
                            img(src="../img/feature-2.svg" alt="Зарисовка дома Ф.М. Достоевского")
                        .b-article__cnt.b-typo-reset
                            p В каждом номере вас ждут комфортные спальные места с ортопедическими матрацами и подушками, тапочки, халаты, 3 комплекта полотенец на каждого гостя, большие вместительные шкафы, а также:
                            ul.b-article__features.b-article__features_theme_list
                                li.b-article__feature
                                    | Мансардны окна
                                li.b-article__feature
                                    | Минибар
                                li.b-article__feature
                                    | Кондиционер
                                li.b-article__feature
                                    | Высокоскоростной Wi-Fi
                                li.b-article__feature
                                    | Телевидение
                                li.b-article__feature
                                    | Настраиваемое отопление

                            .b-article__special
                                | Для вашей безопасности – доступ на этаж отеля только для гостей. Для безопасности ваших вещей – сейф в каждом номере.

        section.l-room-feature.border-vertical
            .l-room-feature__border.border-horizontal
                .l-room-feature__cnt
                    h2 Чистота и порядок занимают важное место в нашем отеле
                    p Каждый день в номерах производится текущая уборка со сменой полотенец, а каждые два дня – смена постельного белья. Мы бережно относимся к здоровью наших гостей: при уборке используется только органическая бытовая химия, не вызывающая аллергической реакции. Кроме этого, при создании интерьера отеля использовались только натуральные материалы.

        section.l-booking-rooms.has-no-margin
            .l-services__header.l-limit-wrap
                .l-services__row
                    .b-article
                        .b-feature__header
                            h1.b-feature__ttl Наши номера
            .l-booking-rooms__row
                .l-booking-rooms__item
                    .b-room
                        a(href="/html/room-item.html").b-room__cnt-link
                        .b-room__border
                            .b-room__img-wrap
                                .b-room__img(style="background-image: url('/img/room-1.jpg')")
                            .b-room__cnt
                                .b-room__cnt-wrap
                                    .b-room__ttl Стандартный одноместный номер
                                    .b-room__descr идеально для путешественников
                                    .b-room__booking <span class="b-room__time">от</span>&nbsp;
                                        | <span class="b-room__price">5 400 <span class="b-ruble">g</span></span>&nbsp;<span class="b-room__time">
                                        | до</span>&nbsp;<span class="b-room__price">7 400 <span class="b-ruble">g</span></span>
                                    .b-room__btn
                                        a(href="#").b-btn.b-btn_width_auto.b-btn_bg_white Забронировать

                .l-booking-rooms__item
                    .b-room
                        a(href="/html/room-item.html").b-room__cnt-link
                        .b-room__border
                            .b-room__img-wrap
                                .b-room__img(style="background-image: url('/img/room-1.jpg')")
                            .b-room__cnt
                                .b-room__cnt-wrap
                                    .b-room__ttl Стандартный двухместный номер
                                    .b-room__descr идеально для семейной пары
                                    .b-room__booking <span class="b-room__time">от</span>&nbsp;
                                        | <span class="b-room__price">5 400 <span class="b-ruble">g</span></span>&nbsp;<span class="b-room__time">
                                        | до</span>&nbsp;<span class="b-room__price">7 400 <span class="b-ruble">g</span></span>
                                    .b-room__btn
                                        a(href="#").b-btn.b-btn_width_auto.b-btn_bg_white Забронировать

                .l-booking-rooms__item
                    .b-room
                        a(href="/html/room-item.html").b-room__cnt-link
                        .b-room__border
                            .b-room__img-wrap
                                .b-room__img(style="background-image: url('/img/room-1.jpg')")
                            .b-room__cnt
                                .b-room__cnt-wrap
                                    .b-room__ttl Одноместный номер Комфорт
                                    .b-room__descr идеально для бизнес-гостя
                                    .b-room__booking <span class="b-room__time">от</span>&nbsp;
                                        | <span class="b-room__price">5 400 <span class="b-ruble">g</span></span>&nbsp;<span class="b-room__time">
                                        | до</span>&nbsp;<span class="b-room__price">7 400 <span class="b-ruble">g</span></span>
                                    .b-room__btn
                                        a(href="#").b-btn.b-btn_width_auto.b-btn_bg_white Забронировать

                .l-booking-rooms__item
                    .b-room
                        a(href="/html/room-item.html").b-room__cnt-link
                        .b-room__border
                            .b-room__img-wrap
                                .b-room__img(style="background-image: url('/img/room-1.jpg')")
                            .b-room__cnt
                                .b-room__cnt-wrap
                                    .b-room__ttl Двухместный номер Делюкс
                                    .b-room__descr идеально для молодоженов
                                    .b-room__booking <span class="b-room__time">от</span>&nbsp;
                                        | <span class="b-room__price">5 400 <span class="b-ruble">g</span></span>&nbsp;<span class="b-room__time">
                                        | до</span>&nbsp;<span class="b-room__price">7 400 <span class="b-ruble">g</span></span>
                                    .b-room__btn
                                        a(href="#").b-btn.b-btn_width_auto.b-btn_bg_white Забронировать
