extends _layout
block title
    title Ресторан
block gallery
     .b-cafe-gallery(style="background-image: url('/img/room-bg-1.jpg');")
         .b-cafe-gallery__border
             .b-cafe-gallery__cnt
                 .b-cafe-gallery__ttl Уютные номера нашего бутик-отеля оформлены в классическом стиле
                 .b-cafe-gallery__txt Представленном лепниной, декоративной штукатуркой, деревянными столешницами в ванных комнатах, классической мебелью и каминными порталами

block content
    .l-main-wrap.is-stick
        section.l-article.l-limit-wrap.has-border
            .l-article__cnt
                .b-article.b-article_theme_gold
                    .b-article__border
                        .b-article__img-wrap
                            img(src="/img/feature-3-1.png" alt="Зарисовка дома Ф.М. Достоевского")
                        .b-article__cnt.b-typo-reset
                            p В каждом номере вас ждут комфортные спальные места с ортопедическими матрацами и подушками, тапочки, халаты, 3 комплекта полотенец на каждого гостя, большие вместительные шкафы, а также:
                            ul.b-article__features.b-article__features_theme_list
                                li.b-article__feature
                                    | Мансардны окна
                                li.b-article__feature
                                    | Минибар
                                li.b-article__feature
                                    | Кондиционер
                                li.b-article__feature
                                    | Высокоскоростной Wi-Fi
                                li.b-article__feature
                                    | Телевидение
                                li.b-article__feature
                                    | Настраиваемое отопление

                            .b-article__special
                                | Для вашей безопасности – доступ на этаж отеля только для гостей. Для безопасности ваших вещей – сейф в каждом номере.

        section.l-cafe-feature
            .l-cafe-feature__img-wrap
                img(src="/img/card/card-2.png" alt="Кувшин")
            .l-cafe-feature__border
                .l-cafe-feature__cnt
                    .l-cafe-feature__txt
                        p В меню ресторана будут представлены как традиционные блюда европейской кухни, так и авторские задумки шеф-повара Алексея Ермакова. Помимо этого, гости комплекса смогут познакомиться с «книжным меню»: пока вы отдыхаете в ресторане, мы напечатаем для вас выбранную книгу.
                    .l-cafe-feature__headings
                        h2 Мы создаем клубную атмосферу интеллектуальной элитарности и творческой открытости для встреч с друзьями и новых знакомств!
