extends _layout
block vars
    -var activePage = 'room'
block title
    title Номера
block gallery
     .b-cafe-gallery(style="background-image: url('/img/room-bg-3.jpg');")
         .b-cafe-gallery__border
             .b-cafe-gallery__cnt
                 h2.b-cafe-gallery__ttl Стандартный одноместный номер
                 .b-cafe-gallery__txt Если вы предпочитаете наслаждаться видами Санкт-Петербурга в одиночестве – этот номер для вас. Удобная кровать с ортопедическими подушками и матрацем поможет отдохнуть после долгой дороги, а наш персонал разбудит вовремя, чтобы вы не опоздали на экскурсию.

block content
    .l-main-wrap.is-stick
        section.l-action.l-action_theme_room-item
            .l-action__row
                .l-action__border
                    .l-action__cnt
                        .l-action__ttl.b-bottom-dash-pos-left
                            div.f-ttl-note Идеально для путешественника

                        .l-room-item
                            .l-room-item__params
                                .b-room-param
                                    .b-room-param__txt Площадь номера
                                    .b-room-param__data 13 м<sup>2</sup>
                                .b-room-param
                                    .b-room-param__txt Кровати
                                    .b-room-param__data 1 односпальная кровать
                                .b-room-param
                                    .b-room-param__txt Максимальное количество гостей
                                    .b-room-param__data 1
                            .l-room__feature
                                ul.b-room-list
                                    li.b-room-list__item
                                        .b-room-list__item-img.b-room-list__item-img_img_window
                                        .b-room-list__item-txt Мансардные окна
                                    li.b-room-list__item
                                        .b-room-list__item-img.b-room-list__item-img_img_fan
                                        .b-room-list__item-txt Кондиционер
                                    li.b-room-list__item
                                        .b-room-list__item-img.b-room-list__item-img_img_wi-fi
                                        .b-room-list__item-txt Бесплатный Wi-Fi
                            .l-room-item__list-row.b-typo-reset
                                .l-room-item__list-col
                                    ul
                                        li Мини-бар
                                        li Тапочки,халат и полотенце
                                        li Сейф
                                .l-room-item__list-col
                                    ul
                                        li Фен
                                        li Телефон
                                        li Услуга «звонок-будильник»
                            .l-room-item__params.l-room-item__params_theme_price
                                .b-room-param
                                    .b-room-param__txt Стоимость
                                    .b-room-param__data от 5 800 <span class="b-ruble">g</span> до 10 900 <span class="b-ruble">g</span>
                            .l-room-item__gallery
                                include blocks/_gallery-room
                            .l-room-item__footer
                                .l-room-item__img-wrap
                                    img(src="/img/room-item-1.svg" alt="Книги и бокал вина")
                                .l-room-item__footer-propose
                                    .b-propose
                                        .b-propose__ttl Вы готовы приехать к нам?
                                        .b-propose__btn
                                            a(href="#").b-btn.b-btn_width_auto Выбрать номер



