extends _layout
block vars
    -var activePage = 'services'
block title
    title Номера
block gallery
     .b-cafe-gallery(style="background-image: url('/img/services-bg-1.jpg');")
         .b-cafe-gallery__border
             .b-cafe-gallery__cnt.b-cafe-gallery__cnt_text_black
                 h2.b-cafe-gallery__ttl Мы всегда стараемся радовать наших гостей приятными предолжениями от нашего отеля
                 .b-cafe-gallery__txt Включающего в себя литературный ресторан, философское кафе, сигарный клуб и банкетный зал с открытой террасой на крыше

block content
    .l-main-wrap
        section.l-services
            .l-services__header.l-limit-wrap
                .l-services__row
                    .b-article
                        .b-feature__header
                            h1.b-feature__ttl Чем мы готовы вам помочь?

            .l-services__tiles.l-limit-wrap.no-padding
                .l-services__tile.l-services__tile_numb_9
                    .b-service
                        .b-service__header
                            .b-service__ttl-note Вызов такси
                        p По вашей просьбе персонал отеля бесплатно вызовет такси из отеля в любую точку города.
                        .b-service__img-wrap
                            .b-service__img
                .l-services__tile.l-services__tile_numb_10
                    .b-service.has-lines
                        .b-service__border
                            .b-service__header
                                .b-service__ttl-note Чай/кофе в номер
                            p По вашей просьбе персонал отеля принесет в номер горячий чай или кофе.
                        .b-service__img-wrap
                            .b-service__img
                .l-services__tile.l-services__tile_numb_11
                    .b-service
                        .b-service__header
                            .b-service__ttl-note Завтрак в номер
                        p Мы можем доставить континентальный завтрак от нашего шеф-повара прямо в номере и в удобное для вас время.
                        .b-service__img-wrap
                            .b-service__img

                .l-services__tile.l-services__tile_numb_12
                    .b-service
                        .b-service__cnt
                            .b-service__header
                                .b-service__ttl-note Ранний заезд/поздний выезд
                            p Планируя поездку, вы не всегда можете рассчитать до минуты все путешествие: мы предлагаем услугу, которая позволит без проблем заселиться в наш отель в удобное для вас время. Ранний заезд доступен с шести часов утра, а поздний выезд – до шести часов вечера.
                        .b-service__img
                            img(src="/img/services/service-1.svg" alt="Часы")

                .l-services__tile.l-services__tile_numb_13
                    .b-service
                        .b-service__cnt
                            .b-service__header
                                .b-service__ttl-note Трансфер
                            p Чтобы ваше путешествие завершилось удачно, без пробок и долгого поиска такси, доверьте дорожные хлопоты нам. Мы встретим вас в аэропорту или на вокзале и поможем с комфортом добраться до нашего отеля, а при выезде – до пункта вашего отправления.
                        .b-service__img


        section.l-services
            .l-services__header.l-limit-wrap
                .l-services__row
                    .b-article
                        .b-feature__header
                            h1.b-feature__ttl Кто работает вместе с нами?

            .l-services__tiles.l-limit-wrap.no-padding
                .l-services__tile.l-services__tile_numb_14
                    .b-service.has-lines
                        .b-service__border
                            .b-service__cnt
                                .b-service__header
                                    .b-service__ttl-note Студия красоты премиум-класса Camera Obscura
                                p Если вы собираетесь на важную встречу или просто устали с дороги, спуститесь на первый этаж отеля, где вас ждет студия красоты. Каждому гостю отеля предоставляется скидка 15% на все услуги студии, сотрудники которой – мастера международного класса. Парикмахеры-стилисты подберут стрижку или окрашивание, а также создадут прическу на любой случай. Косметологи позаботятся о вашем лице, а массажисты предложат процедуры по созданию идеального тела: пилинг, обертывания, несколько техник массажа, в том числе стоун-терапию, креольский массаж, массаж бамбуковыми палочками и авторские методики. Солярий и уход за ногтями завершат ваш образ
                        .b-service__img-wrap
                            .b-service__img
                .l-services__tile.l-services__tile_numb_15
                    .b-service.has-lines
                        .b-service__border
                            .b-service__cnt
                                .b-service__header
                                    .b-service__ttl-note Типография «Трактат»
                                p В здании отеля располагается типография, профессионалы которой в короткие сроки могут изготовить визитки, свадебные приглашения или другие виды полиграфии, в том числе рекламную, сувенирную, офисную, книжную продукцию. Помимо этого, типография занимается разработкой дизайна и издательской деятельностью. У нас работают только сотрудники с европейской квалификацией, а все заказы делаются исключительно на новейшем оборудовании.
                        .b-service__img-wrap
                            .b-service__img
                .l-services__tiles.l-limit-wrap.no-padding
                    .l-services__tile.l-services__tile_numb_16
                        .b-service
                            .b-service__border
                                .b-service__cnt
                                    .b-service__header
                                        .b-service__ttl-note Залы для мероприятий
                                    p Гостям отеля мы предлагаем площадки для организации различных событий: от небольших встреч и переговоров до крупных конференций и художественных выставок. Высокотехнологичное оснащение, различные уровни света, регулируемые подиумы, а также  система видео-трансляций высокой четкости между всеми площадками позволят провести масштабное мероприятие для аудитории до 300 человек. Для тех, кому необходимо устроить небольшое мероприятие, например, мастер-класс, тренинг, семинар или деловую встречу, предлагаем уютные и хорошо оборудованные залы.  Помимо внутренней инфраструктуры каждая площадка имеет свой уникальный авторский дизайн, который дополнит атмосферу вашего мероприятия.
                                .b-service__img-wrap
                                    .b-service__img
                .l-services__tiles.l-limit-wrap.no-padding
                    .l-services__tile.l-services__tile_numb_17
                        .b-service.has-lines
                            .b-service__border
                                .b-service__cnt
                                    .b-service__header
                                        .b-service__ttl-note Бизнес-центр
                                    p Бизнес-центр в отеле – необходимое место как для деловых гостей города, так и для путешественников. Здесь вы можете воспользоваться компьютером, интернетом по WiFi, принтером для продуктивной работы или проведения переговоров. Дизайнерский интерьер зала создаст хорошее настроение, а персонал отеля может принести в бизнес-центр чай или кофе.
                            .b-service__img-wrap
                                .b-service__img
