.b-article {
    @media #{$custom-1024-up} {
        @include padding-trailer(2);
    }
}

.b-article__border {
    @include rhythm-padding(2);
    @include grid-clearfix();
    position: relative;
    z-index: z('zero');
    border: 2px solid $green;
}

.b-article__img-wrap {
    position: absolute;
    top: rhythm(2);
    width: 100%;
    z-index: z('default');
    left: 0;
    opacity: .2;

    img {
        max-width: none;
        min-width: 100%;
    }

    @media #{$big-up} {
        height: calc(100% - 96px); // - padding
        width: 60%;
        right: 50%;
        left: auto;
        opacity: 1;

        img {
            min-width: inherit;
            max-height: 100%;
        }
    }
}

.b-article__cnt {
    position: relative;
    padding: {
        right: gutter(2);
        left: gutter(2);
    };
    z-index: z('default');

    @media #{$big-up} {
        @include span(4.5 of 10 last);
        @include post(.5);
    }
}

.b-article__header {
    @include padding-trailer(1.5);
    @include margin-trailer(1.5);
    color: $green;
    position: relative;

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100px;
        height: 4px;
        background-color: $green;
    }
}

.b-article__ttl-note {
    @extend %f-ttl-note;
}

.b-article__ttl {
    @extend %f-ttl;
}

.b-article__feature {
    @include margin-trailer(.5);
}

.b-article__txt-ttl {
    @include margin-trailer(.5);
    text-transform: uppercase;
    letter-spacing: $gl-letter-spacing;
    font-family: $font-roman-bold;
}

// STATE
.b-article_theme_gold {

    .b-article__img-wrap {

        @media #{$big-up} {
            left: 50%;
            height: 100%;
            width: 66%;

            img {
                max-width: 100%;
                height: 100%;
            }
        }
    }

    .b-article__cnt {

        @media #{$big-up} {
            @include span(4.5 of 10);
            @include push(.5);
        }
    }

    .b-article__header {
        color: $gold-2;

        &:after {
            background-color: $gold-2;
        }
    }
}

.b-article__special {
    @extend %f-article-special;
}

.b-article__btn {
    @include padding-leader(1);
}

// STATE
.b-article__features_theme_list {
    @extend %b-bottom-dash-pos-left;
    @include padding-trailer(1);

    .b-article__feature {
        @include margin-trailer(.25);
    }
}

.b-article__theme_atmosphere-page {

    .b-article__border {
        @media #{$big-up} {
            @include rhythm-padding(3);
        }
    }

    .b-article__cnt {

        @media #{$medium-up} {
            @include span(8 center);
        }

        @media #{$big-up} {
            @include span(5 of 10);
            @include push(5);
            padding: 0;
        }
    }

    .b-article__img-wrap {
        height: 100%;

        @media #{$medium-only} {
            left: 0;
            width: 50%;
        }

        @media #{$big-up} {
            top: 0;
            right: 66%;
            left: auto;
            opacity: 1;
            width: 40%;
        }

        img {
            max-height: 100%;
        }
    }

    .b-article__header {
        @media #{$big-up} {
            @include padding-leader(2);
            @include padding-trailer(.5);
            @include margin-trailer(1);
        }
    }
}

.b-article__border_scheme_1 {
    border-color: $green;

    @media #{$big-up} {
        border-right-width: 0;
    }

    &:before {
        @media #{$big-up} {
            content: '';
            position: absolute;
            top: - 2px;
            right: 0;
            background-color: $green;
            width: 2px;
            height: 100px;
        }
    }
}

.b-article__border_scheme_2 {
    border-color: $gold-2;

    @media #{$big-up} {
        border-left-width: 0;
    }

    &:before {
        @media #{$big-up} {
            content: '';
            position: absolute;
            top: - 2px;
            left: 0;
            background-color: $gold-2;
            width: 2px;
            height: 130px;
        }
    }
}

.b-article__border_scheme_3 {
    border-color: $gold-2;

    @media #{$big-up} {
        border-left-width: 0;
    }
}

.b-article_theme_border-scheme_4 {
    position: relative;
    &:after {
        @media #{$big-up} {
            content: '';
            position: absolute;
            bottom: rhythm(2) - 2px;
            left: 0;
            background-color: $gold-2;
            width: 78%;
            height: 2px;
        }
    }

    .b-article__border {
        border-color: $gold-2;

        @media #{$big-up} {
            border-right-width: 0;
            border-bottom-width: 0;
        }

        &:before {
            @media #{$big-up} {
                content: '';
                position: absolute;
                top: - 2px;
                right: - 2px;
                background-color: $gold-2;
                width: 2px;
                height: 65px;
            }
        }

        .b-article__img-wrap {
            @media #{$medium-up} {
                height: 100%;

                img {
                    max-height: 150%;
                }
            }

            @media #{$big-up} {
                top: auto;
                bottom: 0;
                left: 75%;
                height: 500px;
                max-height: none;
            }
        }
    }
}
