.b-booking-form {
    background: url('/img/form-bg.jpg') $green;
    background-size: cover;
}

.b-booking-form__form {
    display: flex;
    height: $booking-height;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
}

.b-booking-form__col {
    flex: 0 1 150px;

    @media #{$large-up} {
        flex-basis: 200px;
    }

    .selectric-wrapper {
        width: 150px;

        @media #{$large-up} {
            width: 200px;
        }
    }
}

.b-booking-form__info {
    font-size: 14px;
    color: $gold-2;

    @media #{$medium-down} {
        display: none;
    }
}

.b-booking-form__info-ttl {
    font-family: $font-bold;
    line-height: 16px;
}

.b-booking-form__txt {
    font-family: $font-bold-italic;
    line-height: 16px;
}

// STATE

.b-booking-form_theme_stick {
    background: none;
}

