.b-booking-form {
    background: url('/img/form-bg.jpg') no-repeat 50% 50% $green;
    background-size: cover;
}

.b-booking-form__form {
    @include grid-clearfix();

    @media #{$custom-1024-up} {
        height: $booking-height;
        padding: {
            top: ($booking-height - 32px) / 2;
            right: gutter(2);
            left: gutter(2);
        };
    }
}

.b-booking-form__col {
    @media #{$custom-1024-up} {
        flex: 0 1 150px;
        margin-right: 40px;
        width: 150px;
        float: right;
    }

    @media #{$large-up} {
        flex-basis: 200px;
        width: 200px;
    }

    .selectric-wrapper {
        width: 200px;

        @media #{$custom-1024-up} {
            width: 150px;
        }

        @media #{$large-up} {
            width: 200px;
        }
    }
}

.b-booking-form__info {
    font-size: 14px;
    color: $gold-2;

    @media #{$medium-down} {
        display: none;
    }

    @media #{$big-up} {
        float: left;
    }
}

.b-booking-form__btn {
    @media #{$custom-1024-up} {
        float: right;
    }
}

.b-booking-form__info-ttl {
    font-family: $font-bold;
    line-height: 16px;
}

.b-booking-form__txt {
    font-family: $font-bold-italic;
    line-height: 16px;
}

// STATE
.b-booking-form_theme_popup {
    $btn-size: 200px;
    background-color: transparent;

    .b-booking-form__col {
        @include margin-trailer(1);
        width: $btn-size;

        @media #{$small-only} {
            margin: {
                right: auto;
                left: auto;
            };
        }

        &:nth-last-child(2) {
            @include margin-trailer(1.5);
        }
    }

    .b-booking-form__btn {
        width: $btn-size;
        background-color: $green;
    }

    .selectric-wrapper {
        width: $btn-size;
    }

    input {
        &[type='text'],
        &[type="password"],
        &[type="tel"],
        &[type="email"],
        &[type="search"],
        &[type="date"],
        &[type="url"] {
            background-color: $gray-3;
            border-color: $gray-3;
            color: $black;

            &::placeholder {
                color: $black;
            }
        }
    }
}

