.b-cafe-gallery {
    @extend %border-horizontal;
    position: relative;
    height: calc(100vh - #{$booking-height}); // booking form
    width: 100%;
    background: url('/img/cafe-bg-1.jpg') no-repeat 50% 50% $white;
    background-size: cover;
}

.b-cafe-gallery__border {
    @extend %border-vertical;
    @include grid-clearfix();
}

.b-cafe-gallery__cnt {
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 30px;
    right: 30px;
    color: $white;

    @media #{$medium-up} {
        left: 20%;
        right: auto;
        width: 60%;
    }

    @media #{$big-up} {
        text-align: left;
        left: 100px;
        right: auto;
        width: auto;
        max-width: 380px;
    }

    @media #{$large-up} {
        max-width: 50%;
    }
}

.b-cafe-gallery__ttl {
    @extend %f-adaptive-ttl;
    @include margin-trailer(1);
    position: relative;
    padding-bottom: rhythm(.5);

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 100px;
        height: 4px;
        margin-left: -50px;
        background-color: $white;

        @media #{$big-up} {
            left: 0;
            margin-left: 0;
        }
    }
}

.b-cafe-gallery__tel {
    @extend %f-adaptive-ttl;
    @include margin-trailer(1);
    color: $white;
    display: block;
    position: relative;
    padding-bottom: rhythm(.5);
    cursor: default;

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 100px;
        height: 4px;
        margin-left: -50px;
        background-color: $white;

        @media #{$big-up} {
            left: 0;
            margin-left: 0;
        }
    }
}

.b-cafe-gallery__mail {
    @extend %f-adaptive-ttl;
    @include margin-trailer(1);
    display: block;
    color: $white;
}

.b-cafe-gallery__txt {
    @extend %f-adaptive-txt;
}


// STATE
.b-cafe-gallery__cnt_text_black {
    color: $black;
}
