.b-card {
    position: relative;
    display: block;
    overflow: hidden;
    background-color: $white;
    padding: {
        top: rhythm(2);
    };

    @media #{$big-up} {
        padding: {
            top: 100px;
            left: 70px;
            bottom: 100px;
        };
    }
    
    &:before,
    &:after {
        content: '';
        position: absolute;
        top: $margin-y;
        height: calc(100% - #{$margin-y * 2});
        width: $border-height;
        background-color: $gold-2;
        z-index: z('default');
        
        @media #{$medium-up} {
            top: $margin-y-desk;
            height: calc(100% - #{$margin-y-desk * 2});
        }
    }
    
    &:before {
        left: $margin-x;
        
        @media #{$medium-up} {
            left: $margin-x-desk;
        }
    }
    
    &:after {
        right: $margin-x;
        
        @media #{$medium-up} {
            right: $margin-x-desk;
        }
    }
}

.b-card__border {
    &:before,
    &:after {
        content: '';
        position: absolute;
        left: $margin-x;
        width: calc(100% - #{$margin-x * 2});
        height: $border-height;
        background-color: $gold-2;
        z-index: z('default');
        
        @media #{$medium-up} {
            left: $margin-x-desk;
            width: calc(100% - #{$margin-x-desk * 2});
        }
    }
    
    &:before {
        top: $margin-y;
        
        @media #{$medium-up} {
            top: $margin-y-desk;
        }
    }
    
    &:after {
        bottom: $margin-y;
        
        @media #{$medium-up} {
            bottom: $margin-y-desk;
        }
    }
}

.b-card__cnt {
    position: relative;
    z-index: z('default');
    padding: {
        right: gutter(3);
        bottom: rhythm(1);
        left: gutter(3);
    };

    @media #{$medium-up} {
        padding: {
            right: gutter(5);
            left: gutter(5);
        };
    }

    @media #{$big-up} {
        width: 50%;
        padding: 0;
    }
}

.b-card__header {
    @include padding-trailer(1);
    @include margin-trailer(1);
    color: $gold-2;
    position: relative;

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100px;
        height: 4px;
        background-color: $gold-2;
    }

    @media #{$medium-up} {
        @include padding-trailer(1.5);
        @include margin-trailer(2);
    }
}

.b-card__descr {

    @media #{$big-up} {
        padding-right: 150px;
    }
}

.b-card__ttl-note {
    @extend %f-ttl-note;
}

.b-card__ttl {
    @extend %f-ttl;
}

.b-card__gallery {
    display: block;
    height: 250px;
    overflow: hidden;

    @media #{$medium-up} {
        height: 400px;
    }

    @media #{$big-up} {
        position: absolute;
        top: 0;
        left: 50%;
        width: 50%;
        height: 100%;
    }
}

.b-card__gallery-img {
    @include transition(transform);
    transition-duration: .75s;
    background: no-repeat 50% 50%;
    height: 100%;
    background-size: cover;
}

.b-card__link {
    @extend %stretch-green-link;
    @extend %f-menu-reviews;
}

.b-card__bg-img {
    position: absolute;
    bottom: 0;
    left: 25%;
    z-index: z('zero');
    width: 430px;
    display: none;

    img {
        opacity: .4;
    }

    @media #{$medium-up} {
        img {
            opacity: 1;
        }
    }

    @media #{$big-up} {
        display: block;
    }
}

.b-card_theme_gallery {
    @include grid-clearfix();
    @media #{$big-up} {
        padding: {
            top: 0;
            left: 70px;
            bottom: 0;
        };

        .b-card__cnt {
            float: left;
            padding: {
                top: 100px;
            };

        }
    }

    .b-card__gallery {
        height: 400px;

        @media #{$medium-up} {
            height: 600px;
        }

        @media #{$big-up} {
            position: relative;
            left: auto;
            height: 100%;
        }
    }

    .b-card__descr {
        @media #{$big-up} {
            padding-right: 50px;
        }
    }

    .b-gallery__arrow_show_prev {
        left: gutter(4.5);
    }

    .b-gallery__arrow_show_next {
        right: gutter(4.5);
    }
}
