$img-size: 85px;

.b-feature {
    position: relative;
    overflow: hidden;
    background-color: $white;

    padding: rhythm(2) 10px;

     @media #{$medium-up} {
         padding: {
             right: 20px;
             left: 20px;
         };
     }


    @media #{$big-up} {
        padding: rhythm(2);
    }
}

.b-feature__img-wrap {
    position: absolute;
    top: 40px;
    right: 0;
    z-index: z('default');

    img {
        width: 270px;
        height: 254px;
        opacity: .2;
    }

    @media #{$medium-up} {
        top: -40px;
        right: 35px;

        img {
            opacity: 1;
        }
    }

    @media #{$big-up} {
        img {
            width: 375px;
        }
    }
}

.b-feature__cnt {
    @include rhythm-padding(1.5);
    text-align: center;
    position: relative;
    border: 2px solid $gold-2;
    padding: {
        right: gutter(1);
        left: gutter(1);
    };

    &:before,
    &:after {
        content: '';
        display: none;
        position: absolute;
        background-color: $white;
        z-index: z('zero');
    }

    &:before {
        top: 46px;
        right: -2px;
        width: 2px;
        height: 113px;
    }

    &:after {
        top: -2px;
        height: 2px;
        width: 230px;
        right: 58px;
    }

    @media #{$medium-up} {
        text-align: left;
        padding: {
            right: gutter(4);
            left: gutter(4);
        };

        &:after {
            display: block;
            width: 109px;
        }
    }

    @media #{$big-up} {
        &:before {
            display: block;
            height: 85px;
        }

        &:after {
            width: 179px;
        }
    }

}

.b-feature__header {
    @include margin-trailer(1.5);
}

.b-feature__ttl-note {
    @extend %f-ttl-note;
    color: $green;
}

.b-feature__ttl {
    @extend %f-ttl;
    @include margin-trailer(.25);
    color: $green;
    position: relative;
}

.b-feature__list {
    @include padding-leader(1);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media #{$big-up} {
        flex-wrap: nowrap;
    }
}

.b-feature__item {
    @include margin-trailer(1);
    flex: 0 1 100%;

    @media #{$small-only} {
        flex-flow: column nowrap;
    }

    @media #{$medium-up} {
        flex: 0 1 50%;
    }

    @media #{$big-up} {
        @include margin-trailer(0);
        flex: 0 1 (100% / 6);
    }
}

.b-feature__item-img {
    @include margin-trailer(.25);
    margin: {
        right: auto;
        left: auto;
    };
    width: $img-size;
    height: $img-size;
    background-color: $gray-3;
    border-radius: 50%;

    @media #{$small-only} {
        @include margin-trailer(.75);
    }
}

.b-feature__item-txt {
    font-size: 14px;
    line-height: 21px;
    text-align: center;

    @media #{$small-only} {
        position: relative;
        z-index: z('default');
        top: 50%;
        transform: translateY(-50%);
    }
}

@import '../state/feature';
