$img-size: 85px;

.b-feature {
    position: relative;
    overflow: hidden;
    background-color: $white;

    padding: rhythm(2) gutter(1);


    @media #{$big-up} {
        padding: rhythm(2);
    }
}

.b-feature__img-wrap {
    position: absolute;
    top: -60px;
    right: -10px;
    z-index: z('default');

    img {
        opacity: .4;
    }

    @media #{$medium-up} {
        img {
            opacity: 1;
        }
    }
}

.b-feature__cnt {
    @include rhythm-padding(1.5);
    position: relative;
    border: 2px solid $gold-2;
    padding: {
        right: gutter(1);
        left: gutter(1);
    };

    @media #{$medium-up} {
        &:before,
        &:after {
            content: '';
            position: absolute;
            background-color: $white;
            z-index: z('zero');
        }

        &:before {
            top: -2px;
            right: -2px;
            width: 2px;
            height: 102px;
        }

        &:after {
            top: -2px;
            height: 2px;
            width: 225px;
            right: 0;
        }
    }

}

.b-feature__header {
    @include margin-trailer(1.5);
}

.b-feature__ttl-note {
    font-size: 19px;
    line-height: 19px;
    font-family: $font-bold-italic;
    color: $green;

    @media #{$medium-up} {
        font-size: 25px;
        line-height: 25px;
    }

    @media #{$big-up} {
        font-size: 35px;
        line-height: 35px;
    }
}

.b-feature__ttl {
    font-family: $font-roman-bold;
    line-height: 50px;
    color: $green;
    position: relative;
}

.b-feature__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media #{$big-up} {
        flex-wrap: nowrap;
    }
}

.b-feature__item {
    @include margin-trailer(1);
    flex: 0 1 100%;

    @media #{$small-only} {
        position: relative;
        height: $img-size;
    }

    @media #{$medium-up} {
        flex: 0 1 50%;
    }

    @media #{$big-up} {
        @include margin-trailer(0);
        flex: 0 1 (100% / 6);
    }
}

.b-feature__item-img {
    @include margin-trailer(.25);
    margin: {
        right: auto;
        left: auto;
    };
    width: $img-size;
    height: $img-size;
    background-color: $gray-3;
    border-radius: 50%;

    @media #{$small-only} {
        position: absolute;
        left: 50%;
        margin-left: - $img-size / 2;
        z-index: z('zero');
        opacity: .4;
    }
}

.b-feature__item-txt {
    font-size: 14px;
    line-height: 21px;
    text-align: center;

    @media #{$small-only} {
        position: relative;
        z-index: z('default');
        top: 50%;
        transform: translateY(-50%);
    }
}

@import '../state/feature';
