$logo: 'logo' !default;

.b-logo {
    @include sprite($logo);
    @include squish-text;
    display: block;
}

.b-mind-games {
    @include sprite('mind-games');
    @include squish-text;
    display: block;
}

.b-mobile-logo {
    width: 50px;
}
