$logo: 'logo' !default;

.b-logo {
    display: block;
}

.b-logo__img {
    width: 162px;
}

.b-mind-games {
    @include sprite('mind-games');
    @include squish-text;
    display: block;

    @media #{$medium-up} {
        float: right;
    }
}

.b-mobile-logo {
    width: 50px;
}
