// LAYOUT
.l-map {
    @extend %l-row;
    @include margin-trailer(1.5);
    position: relative;

    @media #{$medium-up} {
        @include margin-trailer(2.5);
    }

    @media #{$big-up} {
        @include margin-trailer(3.5);
    }
}

//MODULE
.b-map__base {
    width: 100%;

    @media #{$medium-up} {
        width: 100%;
        min-height: 400px;
        max-height: 650px;
        height: calc(100vh - 108px); // desktop variant
    }
}

.b-map__base[data-noinit] {
    display: none;

    @media #{$medium-up} {
        display: block;
    }
}

.b-map__cnt {
    position: relative;
}

.b-map__mobile {
    position: relative;

    @media #{$medium-up} {
        display: none;
    }
}

.b-map__img {
    width: 100%;
    height: rhythm(8);
    background: url('/img/map-bg.jpg');
    background-size: cover;
}

.b-map__btn {
    @include span(full);
    padding: {
        right: gutter(2);
        left: gutter(2);
    };
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.b-map__home {
    display: none;

    @media #{$big-up} {
        display: block;
        width: 100%;
        height: calc(100vh - 60px);
    }
}

.b-map__close {
    $size: 50px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    background-color: $white;
    width: $size;
    height: $size;
    line-height: $size;
    font-size: 30px;
    color: $gold-2;
    border: 2px solid $gold-2;
    opacity: 1;
}
