// LAYOUT
.l-map {
    @extend %l-row;
    @include margin-trailer(1.5);
    position: relative;

    @media #{$medium-up} {
        @include margin-trailer(2.5);
    }

    @media #{$big-up} {
        @include margin-trailer(3.5);
    }
}

//MODULE
.b-map {
    width: 100%;
    min-height: 400px;
    max-height: 650px;
    height: calc(100vh - 164px); // desktop variant
}

.b-map__zoom {
    @include transition(box-shadow);
    background-color: $white;
    text-align: center;
    font-size: 25px;
    line-height: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    right: gutter(1);
    display: block;
    box-shadow: 2px 2px 25px rgba($black, .2);

    &:hover,
    &:focus {
        text-decoration: none;
        box-shadow: 2px 2px 25px rgba($black, .3);
    }

    &:active {
        box-shadow: 2px 2px 25px rgba($black, .4);
    }
}

.b-map__zoom-in {
    top: 43%;
}

.b-map__zoom-out {
    top: 55%;
}
