.b-menu-logo {
    text-align: center;

    .b-logo {
        @include margin-trailer(.5);
        margin: {
            right: auto;
            left: auto;
        };
    }
}

.b-menu-logo__txt {
    @extend %f-nav-link;
    color: $black-2;
    padding-top: rhythm(.5);
}
