.b-menu-lang {
    text-align: center;
}

.b-menu-lang__link {
    @extend %f-menu-lang;
    color: $black-2;
    margin: {
        right: gutter(.5);
        left: gutter(.5);
    };

    &.is-active {
        color: $gray-2;
        cursor: default;
    }
}

.b-menu-lang_theme_popup {
    .b-menu-lang__link {
        @extend %f-nav-link-stick;
        font-family: $font-roman;
    }
}
