.b-olimpia {
    @include grid-clearfix();
    color: $white;
    display: flex;
    align-items: flex-end;
}

.b-olimpia__txt {
    font-size: 12px;
    line-height: 12px;
    margin-right: 5px;
}

.b-olimpia__logo {
    @include squish-text;
    @include sprite('olimpia-logo');
    display: inline-block;
}
