// Popup
$popup-color: $base-font-color !default;
$popup-bg-color: $white !default;
$popup-overlay-color: $gray !default;
$popup-overlay-opacity: 1 !default;
$popup-border-radius: 0 !default;

// Popup close button
//mobile
$popup-btn-mobile-color: $white !default;
$popup-btn-mobile-bg-color: $black !default;
$popup-btn-mobile-font-size: 18px !default;
$popup-btn-mobile-line-height: $base-line-height !default;
$popop-btn-mobile-height: $btn-height !default; //rhythm unit
$popup-btn-mobile-tt-up: false !default;
$popup-btn-mobile-font-family: $btn-font-family !default;
//desktop
$popup-btn-close-image: 'popup-close' !default; //image
$popup-btn-opacity: .5 !default;

$popup-btn-height: (btn-vertical-paddings($popop-btn-mobile-height) * 2) + $popup-btn-mobile-line-height;

// Magnific reset
// scss-lint:disable ImportantRule

.b-popup {
    color: $popup-color;
    background-color: rgba($white, .7);
    min-height: 100%;
    border-radius: $popup-border-radius;

    @media #{$medium-up} {
        position: static;
        height: auto;
        width: auto;
        min-height: inherit;
    }
}

// Close button mobile
.b-popup__close {
    $size: 50px;
    $bd-size: 2px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    background-color: $white;
    width: $size;
    height: $size;
    line-height: $size - $bd-size * 2;
    font-size: 30px;
    color: $gold-2;
    opacity: 1;
    z-index: z('default');

    @media #{$big-up} {
        top: rhythm(1);
        right: rhythm(1);
    }
}

// Popup content
.b-popup__cnt {
    padding-top: 0;
    background-color: $gray-4;

    // Если мало контента, то он будет прижиматься к низу
    @media #{$small-only} {
        min-height: calc(100vh - 50px);
        display: flex;
        flex-flow: column nowrap;
    }

    @media #{$medium-up} {
        width: 700px;
        margin: {
            right: auto;
            left: auto;
        };
    }

    @media #{$big-up} {
        width: 900px;
    }

    @media #{$large-up} {
        width: 1200px;
    }
}

.b-popup__ttl {
    color: $gray-3;
    text-align: center;
    padding: {
        right: gutter(2);
        left: gutter(2);
    };

    @media #{$medium-up} {
        @include margin-trailer(4);
    }
}

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {

    @media #{$medium-up} {
        width: auto;
        max-width: 1200px;
    }
}

// Magnific reset
.mfp-wrap {
    opacity: 1; // theme style
    -webkit-overflow-scrolling: touch;
}

.mfp-bg {
    background-color: $popup-overlay-color;
    opacity: $popup-overlay-opacity;
}

.mfp-container {
    padding: 0;
}

.mfp-content {
    height: 100%;

    @media #{$medium-up} {
        height: auto;
    }
}

//STATE
@import '../state/popup';
