.b-room-list {
    display: flex;
    justify-content: space-between;

    @media #{$small-only} {
        flex-flow: column wrap;
    }

    @media #{$medium-up} {
        align-items: center;
        flex-flow: row wrap;
    }
}

.b-room-list__item {
    @include margin-trailer(1);
    display: flex;
    align-items: center;

    @media #{$medium-up} {
        margin-right: gutter(2);
    }

    @media #{$custom-1024-up} {
        @include margin-trailer(0);
        margin-right: gutter(4);
    }
}

.b-room-list__item-img {
    $img-size: 60px;
    flex: 0 1 $img-size;
    width: $img-size;
    height: $img-size;
    background-color: $gray-3;
    border-radius: 50%;
    margin-right: gutter(1);
}

.b-room-list__item-txt {
    @extend %f-room-list;
}

// STATE
$images: 'window', 'fan', 'wi-fi';
@each $image in $images {
    .b-room-list__item-img_img_#{$image} {
        position: relative;

        &:after {
            $img: 'i-#{$image}-small';
            @include sprite($img);
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: - (sprite-height($img) / 2);
            margin-left: - (sprite-width($img) / 2);
        }
    }
}
