// BORDER around element, only room
$border-height: 2px;
$margin-y-room: 30px;
$margin-y-desk-room: 40px;
$btns-pos: 13.5px;
$btns-pos-desk: 23.5px;

.b-room {
    position: relative;
    display: block;

    &:hover {
        .b-room__cnt {
            color: $gold-2;
        }
        .b-room__img {
            transform: scale(1.2);
        }
    }

    &:before,
    &:after {
        content: '';
        position: absolute;
        top: $margin-y-room;
        height: calc(100% - #{$margin-y-room * 2});
        width: $border-height;
        background-color: $gold-2;
        z-index: z('default');

        @media #{$medium-up} {
            top: $margin-y-desk-room;
            height: calc(100% - #{$margin-y-desk-room * 2});
        }
    }

    &:before {
        left: $margin-x;

        @media #{$medium-up} {
            left: $margin-x-desk;
        }
    }

    &:after {
        right: $margin-x;

        @media #{$medium-up} {
            right: $margin-x-desk;
        }
    }
}

.b-room__cnt-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: z('default');
}

.b-room__border {
    &:before,
    &:after {
        content: '';
        position: absolute;
        left: $margin-x;
        width: calc(100% - #{$margin-x * 2});
        height: $border-height;
        background-color: $gold-2;
        z-index: z('default');

        @media #{$medium-up} {
            left: $margin-x-desk;
            width: calc(100% - #{$margin-x-desk * 2});
        }
    }

    &:before {
        top: $margin-y-room;

        @media #{$medium-up} {
            top: $margin-y-desk-room;
        }
    }

    &:after {
        bottom: $margin-y-room;

        @media #{$medium-up} {
            bottom: $margin-y-desk-room;
        }
    }
}

.b-room__img-wrap {
    overflow: hidden;
}

.b-room__img {
    @include transition(transform);
    height: 310px;
    background: 50% 50% no-repeat;
    background-size: cover;
}

.b-room__cnt {
    @include transition(color);
    @include padding-leader(1.5);
    @include grid-clearfix();
    overflow: hidden;
    height: 240px;
    background-color: $white;
    text-align: center;
    color: $black;
}

.b-room__cnt-wrap {
    padding: {
        right: gutter(2);
        left: gutter(2);
    };

    @media #{$big-up} {
        padding: {
            right: gutter(4);
            left: gutter(4);
        };
    }
}

.b-room__ttl {
    @extend %f-room-ttl;
}

.b-room__descr {
    $dash-width: 90px;
    @include margin-trailer(1);
    @include padding-trailer(1);
    position: relative;

    &:after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0;
        margin-left: - $dash-width / 2;
        width: $dash-width;
        height: 2px;
        background-color: $gold-2;
    }
}

.b-room__booking {
    margin-bottom: 23px; // for vertical align btn
}

.b-room__old-price {
    @extend %f-price-txt;
    position: absolute;
    left: 0;
    bottom: 100%;
    color: $gray-4;
    text-decoration: line-through;
}

.b-room__price {
    @extend %f-price;
    position: relative;
    display: inline-block;
}

.b-room__btn {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    z-index: z('absolute-border');
    bottom: $btns-pos;

    @media #{$medium-up} {
        bottom: $btns-pos-desk;
    }
}

.b-room__specials {
    position: absolute;
    top: $btns-pos;
    left: 50%;
     transform: translateX(-50%);
    width: 185px;
    font-family: $font-roman-bold;
    text-transform: uppercase;
    font-size: 12px;
    color: $white;
    background-color: $red;
    border-color: $red;
    z-index: z('default');

    &:hover {
        background-color: $red;
        border-color: $red;
    }

    @media #{$medium-up} {
        top: $btns-pos-desk;
    }
}

.b-room__message {
    font-family: $font-roman-bold;
    font-size: 18px;
    color: $gray-4;
}

// STATE
.b-room__specials_bg-color_blue {
    background-color: $green;
    border-color: $green;

    &:hover {
        background-color: $green;
        border-color: $green;
    }
}
