$border-height: 2px;
$margin-x: 15px;
$margin-x-desk: 30px;
$margin-y: 20px;
$margin-y-desk: 40px;

.b-room {
    position: relative;
    display: block;

    &:hover {
        .b-room__cnt {
            color: $gold-2;
        }
    }

    &:before,
    &:after {
        content: '';
        position: absolute;
        top: $margin-y;
        height: calc(100% - #{$margin-y * 2});
        width: $border-height;
        background-color: $gold-2;
        z-index: z('default');

        @media #{$medium-up} {
            top: $margin-y-desk;
            height: calc(100% - #{$margin-y-desk * 2});
        }
    }

    &:before {
        left: $margin-x;

        @media #{$medium-up} {
            left: $margin-x-desk;
        }
    }

    &:after {
        right: $margin-x;

        @media #{$medium-up} {
            right: $margin-x-desk;
        }
    }
}

.b-room__cnt-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: z('default');
}

.b-room__border {
    &:before,
    &:after {
        content: '';
        position: absolute;
        left: $margin-x;
        width: calc(100% - #{$margin-x * 2});
        height: $border-height;
        background-color: $gold-2;
        z-index: z('default');

        @media #{$medium-up} {
            left: $margin-x-desk;
            width: calc(100% - #{$margin-x-desk * 2});
        }
    }

    &:before {
        top: $margin-y;

        @media #{$medium-up} {
            top: $margin-y-desk;
        }
    }

    &:after {
        bottom: $margin-y;

        @media #{$medium-up} {
            bottom: $margin-y-desk;
        }
    }
}

.b-room__img {
    height: 310px;
    background: 50% 50% no-repeat;
    background-size: cover;
}

.b-room__cnt {
    @include transition(color);
    @include padding-leader(1.5);
    @include grid-clearfix();
    overflow: hidden;
    height: 240px;
    background-color: $white;
    text-align: center;
    color: $black;
}

.b-room__cnt-wrap {
    padding: {
        right: gutter(2);
        left: gutter(2);
    };

    @media #{$big-up} {
        @include span(4 of 6 center);
        padding: 0;
    }
}

.b-room__ttl {
    font-family: $font-roman-bold;
    text-transform: uppercase;
}

.b-room__descr {
    $dash-width: 90px;
    @include margin-trailer(1);
    @include padding-trailer(1);
    position: relative;

    &:after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0;
        margin-left: - $dash-width / 2;
        width: $dash-width;
        height: 2px;
        background-color: $gold-2;
    }
}

.b-room__booking {
    margin-bottom: 23px; // for vertical align btn
}

.b-room__old-price {
    position: absolute;
    left: 0;
    bottom: 100%;
    font-family: $font-roman-bold;
    font-size: 14px;
    line-height: 17px;
    color: $gray-4;
    text-decoration: line-through;
}

.b-room__price {
    position: relative;
    font-family: $font-roman-bold;
    text-transform: uppercase;
}

.b-room__btn {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    z-index: z('absolute-border');
    bottom: $margin-y / 2 + $border-height;

    @media #{$medium-up} {
        bottom: $margin-y-desk / 2 + $border-height;
    }
}

.b-room__specials {
    position: absolute;
    top: $margin-y / 2 + $border-height;
    left: 50%;
    margin-left: - 185px / 2;
    width: 185px;
    font-family: $font-roman-bold;
    text-transform: uppercase;
    font-size: 12px;
    color: $white;
    background-color: $red;
    border-color: $red;
    z-index: z('default');

    &:hover {
        background-color: $red;
        border-color: $red;
    }

    @media #{$medium-up} {
        top: $margin-y-desk / 2 + $border-height;
    }
}

.b-room__message {
    font-family: $font-roman-bold;
    font-size: 18px;
    color: $gray-4;
}

// STATE
.b-room__specials_bg-color_blue {
    background-color: $green;
    border-color: $green;

    &:hover {
        background-color: $green;
        border-color: $green;
    }
}
