.b-room-param {
    @include grid-clearfix();
    color: $white;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: baseline;

    @media #{$medium-up} {
        flex-wrap: nowrap;
    }

    &:not(:last-child) {
        @include margin-trailer(.5);
    }

    &:after {
        position: absolute;
        bottom: 7px;
        left: 0;
        width: 100%;
        border-bottom: 1px dotted;

        @media #{$medium-up} {
            bottom: 8px;
        }
    }
}

.b-room-param__txt {
    position: relative;
    z-index: z('default');
    background-color: $green;
}

.b-room-param__data {
    @extend %f-param-data;
    margin-left: auto;
    position: relative;
    z-index: z('default');
    background-color: $green;
}
