.b-service {
    @extend %f-service-txt;
    @include grid-clearfix();
    color: inherit;
    display: block;
    position: relative;
    overflow: hidden;
    padding: {
        top: rhythm(1.5);
        right: gutter(2);
        left: gutter(2);
        bottom: rhythm(.5);
    };

    @media #{$medium-up} {
        padding: {
            top: rhythm(1.25);
            right: gutter(2);
            left: gutter(2);
            bottom: rhythm(.5);
        };
    }

    @media #{$big-up} {
        &:hover {
            color: inherit;

            .b-service__ttl-note {
                color: $gold-2;
            }

            .b-service__img {
                transform: scale(1.1);
            }

            .b-service__header:after {
                background-color: $gold-2;
            }
        }
    }

    &.no-hover {
        @media #{$big-up} {
            &:hover {
                color: inherit;

                .b-service__ttl-note {
                    color: $green;
                }

                .b-service__img {
                    transform: scale(1);
                }

                .b-service__header:after {
                    background-color: $green;
                }
            }
        }
    }

    &.hover-img {
        @media #{$big-up} {
            &:hover {
                color: inherit;

                .b-service__ttl-note {
                    color: $green;
                }

                .b-service__header:after {
                    background-color: $green;
                }
            }
        }
    }

    &.has-lines {
        &:before,
        &:after {
            content: '';
            position: absolute;
            top: $margin-y;
            height: calc(100% - #{$margin-y * 2});
            width: $border-height;
            background-color: $gray-3;
            z-index: z('default');

            @media #{$medium-up} {
                top: $margin-y-desk;
                height: calc(100% - #{$margin-y-desk * 2});
            }
        }

        &:before {
            left: $margin-x;

            @media #{$medium-up} {
                left: $margin-x-desk;
            }
        }

        &:after {
            right: $margin-x;

            @media #{$medium-up} {
                right: $margin-x-desk;
            }
        }
    }
}

.b-service__header {
    @include padding-trailer(.5);
    @include margin-trailer(.5);
    color: $green;
    position: relative;

    &:after {
        @include transition(background-color);
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 60px;
        height: 4px;
        background-color: $green;
    }
}

.b-service__ttl-note {
    @extend %f-service-note;
    @include transition(color);
}

.b-service__ttl {
    font-family: $font-roman-bold;
    line-height: 50px;
}

.b-service__border {
    @include grid-clearfix();
    padding: rhythm(1.25) $margin-y-desk;

    &:before,
    &:after {
        content: '';
        position: absolute;
        left: $margin-x;
        width: calc(100% - #{$margin-x * 2});
        height: $border-height;
        background-color: $gray-3;
        z-index: z('default');

        @media #{$medium-up} {
            left: $margin-x-desk;
            width: calc(100% - #{$margin-x-desk * 2});
        }
    }

    &:before {
        top: $margin-y;

        @media #{$medium-up} {
            top: $margin-y-desk;
        }
    }

    &:after {
        bottom: $margin-y;

        @media #{$medium-up} {
            bottom: $margin-y-desk;
        }
    }
}

.b-service__img-wrap {
    position: absolute;
    overflow: hidden;
}

.b-service__img {
    @include transition(transform);
    transition-duration: .75s;
    position: absolute;
    width: 100%;
    right: 0;
    top: 0;
    background: no-repeat 50% 50%;
    background-size: cover;
}

.b-service__link {
    @extend %stretch-green-link;
    @extend %f-article-special;
}

// STATE
.b-service__ttl-note_font-size_small {
    @extend %f-cite-note;
}

#camobscura .b-service__link{
    margin-bottom: 20px;
}

