html {
     @extend %f-base;
    -webkit-overflow-scrolling: touch;

    // Убираем скроллинг при открытом мобильном меню. Для ios.
    &.is-active {
        overflow: auto;
    }
}

body {
    @extend %f-base;
    -webkit-overflow-scrolling: touch;
    color: $base-font-color;
    text-size-adjust: 100%;
    width: 100%;

    // Убираем скроллинг при открытом мобильном меню.
    &.is-active {
        overflow: auto;
        position: fixed;
        right: 0;
        left: 0;
    }

    // if page with scroll
    &.add-padding {
        @media #{$big-up} {
            padding-right: 15px; // place for scroll
        }
    }

    // Custom scroll ie11
    @media #{$big-up} {
        scrollbar-base-color: $green;
        scrollbar-highlight-color: $gray;
        scrollbar-arrow-color: $green;
    }
}

// Custom scroll webkit
@media #{$big-up} {
    ::-webkit-scrollbar {
        width: 15px;
        height: 10px;
    }

    ::-webkit-scrollbar-thumb {
        background: $green;
    }

    ::-webkit-scrollbar-track {
        background: $gray;
    }
}

a {
    &[href^='tel:'],
    &[href^='mailto:'] {
        white-space: nowrap;
    }
}

img {
    max-width: 100%;
}

// Utility
.hide {
    display: none;
}

.show {
    display: block;
}

%b-top-dash {
    $dash-size: 40px;
    position: relative;
    padding-top: rhythm(.5);

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: - $dash-size / 2;
        display: block;
        width: $dash-size;
        height: 2px;
        background-color: $gold-2;
    }
}

%b-top-dash-100 {
    $dash-size: 100px;
    position: relative;
    padding-top: rhythm(1);

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: - $dash-size / 2;
        display: block;
        width: $dash-size;
        height: 4px;
        background-color: $gold-2;
    }
}

%b-bottom-dash-100 {
    $dash-size: 100px;
    position: relative;
    padding-bottom: rhythm(.5);

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: - $dash-size / 2;
        display: block;
        width: $dash-size;
        height: 4px;
        background-color: $gold-2;
    }
}

%b-bottom-dash-pos-left,
.b-bottom-dash-pos-left {
    @include padding-trailer(.5);
    @include margin-trailer(1.5);
    position: relative;

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100px;
        height: 4px;
        background-color: $gold-2;
    }
}

.b-ruble {
    font-family: $font-ruble;
    text-transform: lowercase;
}

%stretch-green-link {
    @include transition(color);
    display: inline-block;
    color: $green;
    position: relative;

    @media #{$big-up} {
        &:hover {
            color: $gold-2;

            &:after {
                transform: scaleX(.3);
                background-color: $gold-2;
            }
        }
    }

    &:after {
        @include transition(transform);
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 2px;
        background-color: $green;
    }
}

.show-on-touch {
    @media #{$custom-1024-up} {
        display: none;
    }
}

.hide-on-1024-up {
    @media #{$custom-1024-up} {
        display: none;
    }
}

.hide-on-touch {
    @media #{$medium-down} {
        display: none;
    }

    @media #{$custom-1024-up} {
        display: block;
    }
}

.show-on-mobile {
    @media #{$medium-up} {
        display: none;
    }
}

.hide-on-mobile {
    @media #{$small-only} {
        display: none;
    }
}

.show-on-desktop {
    @media #{$medium-down} {
        display: none;
    }

    @media #{$custom-1024-up} {
        display: block;
    }
}

.hide-on-tablet {
    @media #{$medium-only} {
        display: none;
    }

    @media #{$custom-1024-up} {
        display: block;
    }
}
