$sprites-map : (
  al-b-back-link-dark: (233px, 180px, -233px, -180px, 18px, 15px, 257px, 197px, '/img/sprites.png', 'al-b-back-link-dark', ),
  al-b-back-link: (214px, 180px, -214px, -180px, 18px, 15px, 257px, 197px, '/img/sprites.png', 'al-b-back-link', ),
  al-b-dropdown: (163px, 128px, -163px, -128px, 11px, 8px, 257px, 197px, '/img/sprites.png', 'al-b-dropdown', ),
  al-b-floor__down: (234px, 111px, -234px, -111px, 23px, 13px, 257px, 197px, '/img/sprites.png', 'al-b-floor__down', ),
  al-b-floor__up: (214px, 130px, -214px, -130px, 23px, 13px, 257px, 197px, '/img/sprites.png', 'al-b-floor__up', ),
  al-b-menu__ctrl: (238px, 130px, -238px, -130px, 16px, 13px, 257px, 197px, '/img/sprites.png', 'al-b-menu__ctrl', ),
  al-b-pointer-arrow: (142px, 90px, -142px, -90px, 15px, 11px, 257px, 197px, '/img/sprites.png', 'al-b-pointer-arrow', ),
  al-b-rotate: (214px, 111px, -214px, -111px, 19px, 18px, 257px, 197px, '/img/sprites.png', 'al-b-rotate', ),
  al-b-select-options: (123px, 90px, -123px, -90px, 18px, 14px, 257px, 197px, '/img/sprites.png', 'al-b-select-options', ),
  b-kelnik-big: (59px, 159px, -59px, -159px, 60px, 34px, 257px, 197px, '/img/sprites.png', 'b-kelnik-big', ),
  b-kelnik-medium: (163px, 100px, -163px, -100px, 48px, 27px, 257px, 197px, '/img/sprites.png', 'b-kelnik-medium', ),
  b-kelnik: (214px, 45px, -214px, -45px, 41px, 23px, 257px, 197px, '/img/sprites.png', 'b-kelnik', ),
  checkbox-checked: (214px, 69px, -214px, -69px, 20px, 20px, 257px, 197px, '/img/sprites.png', 'checkbox-checked', ),
  checkbox-disabled: (235px, 90px, -235px, -90px, 20px, 20px, 257px, 197px, '/img/sprites.png', 'checkbox-disabled', ),
  checkbox-hover: (214px, 90px, -214px, -90px, 20px, 20px, 257px, 197px, '/img/sprites.png', 'checkbox-hover', ),
  checkbox: (235px, 69px, -235px, -69px, 20px, 20px, 257px, 197px, '/img/sprites.png', 'checkbox', ),
  gallery-next: (248px, 162px, -248px, -162px, 8px, 13px, 257px, 197px, '/img/sprites.png', 'gallery-next', ),
  gallery-prev: (248px, 144px, -248px, -144px, 8px, 13px, 257px, 197px, '/img/sprites.png', 'gallery-prev', ),
  i-bed: (62px, 90px, -62px, -90px, 60px, 45px, 257px, 197px, '/img/sprites.png', 'i-bed', ),
  i-eat: (163px, 0px, -163px, 0px, 50px, 52px, 257px, 197px, '/img/sprites.png', 'i-eat', ),
  i-fan: (0px, 159px, 0px, -159px, 58px, 38px, 257px, 197px, '/img/sprites.png', 'i-fan', ),
  i-wi-fi: (0px, 90px, 0px, -90px, 61px, 47px, 257px, 197px, '/img/sprites.png', 'i-wi-fi', ),
  i-window: (163px, 53px, -163px, -53px, 43px, 46px, 257px, 197px, '/img/sprites.png', 'i-window', ),
  logo: (0px, 0px, 0px, 0px, 162px, 89px, 257px, 197px, '/img/sprites.png', 'logo', ),
  mark-rate: (0px, 138px, 0px, -138px, 119px, 20px, 257px, 197px, '/img/sprites.png', 'mark-rate', ),
  nav-sublist: (175px, 128px, -175px, -128px, 11px, 6px, 257px, 197px, '/img/sprites.png', 'nav-sublist', ),
  popup-close: (214px, 0px, -214px, 0px, 43px, 44px, 257px, 197px, '/img/sprites.png', 'popup-close', ),
  radio-checked: (214px, 144px, -214px, -144px, 16px, 17px, 257px, 197px, '/img/sprites.png', 'radio-checked', ),
  radio-disabled: (231px, 162px, -231px, -162px, 16px, 17px, 257px, 197px, '/img/sprites.png', 'radio-disabled', ),
  radio-hover: (214px, 162px, -214px, -162px, 16px, 17px, 257px, 197px, '/img/sprites.png', 'radio-hover', ),
  radio: (231px, 144px, -231px, -144px, 16px, 17px, 257px, 197px, '/img/sprites.png', 'radio', ),
);
