$sprites-map : (
  al-b-back-link-dark: (224px, 170px, -224px, -170px, 18px, 15px, 324px, 272px, '/img/sprites.png', 'al-b-back-link-dark', ),
  al-b-back-link: (243px, 170px, -243px, -170px, 18px, 15px, 324px, 272px, '/img/sprites.png', 'al-b-back-link', ),
  al-b-dropdown: (310px, 67px, -310px, -67px, 11px, 8px, 324px, 272px, '/img/sprites.png', 'al-b-dropdown', ),
  al-b-floor__down: (225px, 141px, -225px, -141px, 23px, 13px, 324px, 272px, '/img/sprites.png', 'al-b-floor__down', ),
  al-b-floor__up: (225px, 155px, -225px, -155px, 23px, 13px, 324px, 272px, '/img/sprites.png', 'al-b-floor__up', ),
  al-b-menu__ctrl: (249px, 141px, -249px, -141px, 16px, 13px, 324px, 272px, '/img/sprites.png', 'al-b-menu__ctrl', ),
  al-b-pointer-arrow: (266px, 225px, -266px, -225px, 15px, 11px, 324px, 272px, '/img/sprites.png', 'al-b-pointer-arrow', ),
  al-b-rotate: (225px, 122px, -225px, -122px, 19px, 18px, 324px, 272px, '/img/sprites.png', 'al-b-rotate', ),
  al-b-select-options: (224px, 186px, -224px, -186px, 18px, 14px, 324px, 272px, '/img/sprites.png', 'al-b-select-options', ),
  b-kelnik-big: (0px, 238px, 0px, -238px, 60px, 34px, 324px, 272px, '/img/sprites.png', 'b-kelnik-big', ),
  b-kelnik-medium: (266px, 131px, -266px, -131px, 48px, 27px, 324px, 272px, '/img/sprites.png', 'b-kelnik-medium', ),
  b-kelnik: (266px, 159px, -266px, -159px, 41px, 23px, 324px, 272px, '/img/sprites.png', 'b-kelnik', ),
  checkbox-checked: (266px, 183px, -266px, -183px, 20px, 20px, 324px, 272px, '/img/sprites.png', 'checkbox-checked', ),
  checkbox-disabled: (287px, 183px, -287px, -183px, 20px, 20px, 324px, 272px, '/img/sprites.png', 'checkbox-disabled', ),
  checkbox-hover: (266px, 204px, -266px, -204px, 20px, 20px, 324px, 272px, '/img/sprites.png', 'checkbox-hover', ),
  checkbox: (287px, 204px, -287px, -204px, 20px, 20px, 324px, 272px, '/img/sprites.png', 'checkbox', ),
  gallery-next: (310px, 39px, -310px, -39px, 8px, 13px, 324px, 272px, '/img/sprites.png', 'gallery-next', ),
  gallery-prev: (310px, 53px, -310px, -53px, 8px, 13px, 324px, 272px, '/img/sprites.png', 'gallery-prev', ),
  i-bed: (163px, 170px, -163px, -170px, 60px, 45px, 324px, 272px, '/img/sprites.png', 'i-bed', ),
  i-eat: (106px, 90px, -106px, -90px, 50px, 52px, 324px, 272px, '/img/sprites.png', 'i-eat', ),
  i-fan: (266px, 0px, -266px, 0px, 58px, 38px, 324px, 272px, '/img/sprites.png', 'i-fan', ),
  i-wi-fi: (163px, 122px, -163px, -122px, 61px, 47px, 324px, 272px, '/img/sprites.png', 'i-wi-fi', ),
  i-window: (266px, 39px, -266px, -39px, 43px, 46px, 324px, 272px, '/img/sprites.png', 'i-window', ),
  logo: (0px, 0px, 0px, 0px, 162px, 89px, 324px, 272px, '/img/sprites.png', 'logo', ),
  mark-rate: (0px, 217px, 0px, -217px, 119px, 20px, 324px, 272px, '/img/sprites.png', 'mark-rate', ),
  mind-games: (163px, 0px, -163px, 0px, 102px, 60px, 324px, 272px, '/img/sprites.png', 'mind-games', ),
  nav-sublist: (310px, 76px, -310px, -76px, 11px, 6px, 324px, 272px, '/img/sprites.png', 'nav-sublist', ),
  olimpia-logo: (163px, 61px, -163px, -61px, 96px, 60px, 324px, 272px, '/img/sprites.png', 'olimpia-logo', ),
  popup-close: (266px, 86px, -266px, -86px, 43px, 44px, 324px, 272px, '/img/sprites.png', 'popup-close', ),
  quote: (0px, 90px, 0px, -90px, 105px, 126px, 324px, 272px, '/img/sprites.png', 'quote', ),
  radio-checked: (308px, 183px, -308px, -183px, 16px, 17px, 324px, 272px, '/img/sprites.png', 'radio-checked', ),
  radio-disabled: (245px, 122px, -245px, -122px, 16px, 17px, 324px, 272px, '/img/sprites.png', 'radio-disabled', ),
  radio-hover: (308px, 204px, -308px, -204px, 16px, 17px, 324px, 272px, '/img/sprites.png', 'radio-hover', ),
  radio: (308px, 159px, -308px, -159px, 16px, 17px, 324px, 272px, '/img/sprites.png', 'radio', ),
  select-arr: (310px, 86px, -310px, -86px, 9px, 5px, 324px, 272px, '/img/sprites.png', 'select-arr', ),
);
