$sprites-2x-map : (
  al-b-back-link-dark: (242px, 208px, -242px, -208px, 36px, 30px, 446px, 384px, '/img/sprites@2x.png', 'al-b-back-link-dark', ),
  al-b-back-link: (410px, 306px, -410px, -306px, 36px, 30px, 446px, 384px, '/img/sprites@2x.png', 'al-b-back-link', ),
  al-b-dropdown: (414px, 142px, -414px, -142px, 22px, 16px, 446px, 384px, '/img/sprites@2x.png', 'al-b-dropdown', ),
  al-b-floor__down: (366px, 348px, -366px, -348px, 46px, 26px, 446px, 384px, '/img/sprites@2x.png', 'al-b-floor__down', ),
  al-b-floor__up: (242px, 180px, -242px, -180px, 46px, 26px, 446px, 384px, '/img/sprites@2x.png', 'al-b-floor__up', ),
  al-b-menu__ctrl: (414px, 348px, -414px, -348px, 32px, 26px, 446px, 384px, '/img/sprites@2x.png', 'al-b-menu__ctrl', ),
  al-b-pointer-arrow: (290px, 180px, -290px, -180px, 30px, 22px, 446px, 384px, '/img/sprites@2x.png', 'al-b-pointer-arrow', ),
  al-b-rotate: (326px, 348px, -326px, -348px, 38px, 36px, 446px, 384px, '/img/sprites@2x.png', 'al-b-rotate', ),
  al-b-select-options: (280px, 208px, -280px, -208px, 36px, 28px, 446px, 384px, '/img/sprites@2x.png', 'al-b-select-options', ),
  b-kelnik-big: (326px, 0px, -326px, 0px, 120px, 68px, 446px, 384px, '/img/sprites@2x.png', 'b-kelnik-big', ),
  b-kelnik-medium: (326px, 160px, -326px, -160px, 96px, 54px, 446px, 384px, '/img/sprites@2x.png', 'b-kelnik-medium', ),
  b-kelnik: (326px, 216px, -326px, -216px, 82px, 46px, 446px, 384px, '/img/sprites@2x.png', 'b-kelnik', ),
  checkbox-checked: (368px, 306px, -368px, -306px, 40px, 40px, 446px, 384px, '/img/sprites@2x.png', 'checkbox-checked', ),
  checkbox-disabled: (326px, 264px, -326px, -264px, 40px, 40px, 446px, 384px, '/img/sprites@2x.png', 'checkbox-disabled', ),
  checkbox-hover: (368px, 264px, -368px, -264px, 40px, 40px, 446px, 384px, '/img/sprites@2x.png', 'checkbox-hover', ),
  checkbox: (326px, 306px, -326px, -306px, 40px, 40px, 446px, 384px, '/img/sprites@2x.png', 'checkbox', ),
  gallery-next: (122px, 180px, -122px, -180px, 118px, 202px, 446px, 384px, '/img/sprites@2x.png', 'gallery-next', ),
  gallery-prev: (0px, 180px, 0px, -180px, 120px, 204px, 446px, 384px, '/img/sprites@2x.png', 'gallery-prev', ),
  logo: (0px, 0px, 0px, 0px, 324px, 178px, 446px, 384px, '/img/sprites@2x.png', 'logo', ),
  nav-sublist: (424px, 160px, -424px, -160px, 22px, 12px, 446px, 384px, '/img/sprites@2x.png', 'nav-sublist', ),
  popup-close: (326px, 70px, -326px, -70px, 86px, 88px, 446px, 384px, '/img/sprites@2x.png', 'popup-close', ),
  radio-checked: (414px, 70px, -414px, -70px, 32px, 34px, 446px, 384px, '/img/sprites@2x.png', 'radio-checked', ),
  radio-disabled: (410px, 264px, -410px, -264px, 32px, 34px, 446px, 384px, '/img/sprites@2x.png', 'radio-disabled', ),
  radio-hover: (410px, 216px, -410px, -216px, 32px, 34px, 446px, 384px, '/img/sprites@2x.png', 'radio-hover', ),
  radio: (414px, 106px, -414px, -106px, 32px, 34px, 446px, 384px, '/img/sprites@2x.png', 'radio', ),
);
