$sprites-2x-map : (
  al-b-back-link-dark: (448px, 340px, -448px, -340px, 36px, 30px, 648px, 544px, '/img/sprites@2x.png', 'al-b-back-link-dark', ),
  al-b-back-link: (486px, 340px, -486px, -340px, 36px, 30px, 648px, 544px, '/img/sprites@2x.png', 'al-b-back-link', ),
  al-b-dropdown: (620px, 134px, -620px, -134px, 22px, 16px, 648px, 544px, '/img/sprites@2x.png', 'al-b-dropdown', ),
  al-b-floor__down: (450px, 282px, -450px, -282px, 46px, 26px, 648px, 544px, '/img/sprites@2x.png', 'al-b-floor__down', ),
  al-b-floor__up: (450px, 310px, -450px, -310px, 46px, 26px, 648px, 544px, '/img/sprites@2x.png', 'al-b-floor__up', ),
  al-b-menu__ctrl: (498px, 282px, -498px, -282px, 32px, 26px, 648px, 544px, '/img/sprites@2x.png', 'al-b-menu__ctrl', ),
  al-b-pointer-arrow: (532px, 450px, -532px, -450px, 30px, 22px, 648px, 544px, '/img/sprites@2x.png', 'al-b-pointer-arrow', ),
  al-b-rotate: (450px, 244px, -450px, -244px, 38px, 36px, 648px, 544px, '/img/sprites@2x.png', 'al-b-rotate', ),
  al-b-select-options: (448px, 372px, -448px, -372px, 36px, 28px, 648px, 544px, '/img/sprites@2x.png', 'al-b-select-options', ),
  b-kelnik-big: (0px, 476px, 0px, -476px, 120px, 68px, 648px, 544px, '/img/sprites@2x.png', 'b-kelnik-big', ),
  b-kelnik-medium: (532px, 262px, -532px, -262px, 96px, 54px, 648px, 544px, '/img/sprites@2x.png', 'b-kelnik-medium', ),
  b-kelnik: (532px, 318px, -532px, -318px, 82px, 46px, 648px, 544px, '/img/sprites@2x.png', 'b-kelnik', ),
  checkbox-checked: (532px, 366px, -532px, -366px, 40px, 40px, 648px, 544px, '/img/sprites@2x.png', 'checkbox-checked', ),
  checkbox-disabled: (574px, 366px, -574px, -366px, 40px, 40px, 648px, 544px, '/img/sprites@2x.png', 'checkbox-disabled', ),
  checkbox-hover: (532px, 408px, -532px, -408px, 40px, 40px, 648px, 544px, '/img/sprites@2x.png', 'checkbox-hover', ),
  checkbox: (574px, 408px, -574px, -408px, 40px, 40px, 648px, 544px, '/img/sprites@2x.png', 'checkbox', ),
  gallery-next: (620px, 78px, -620px, -78px, 16px, 26px, 648px, 544px, '/img/sprites@2x.png', 'gallery-next', ),
  gallery-prev: (620px, 106px, -620px, -106px, 16px, 26px, 648px, 544px, '/img/sprites@2x.png', 'gallery-prev', ),
  i-bed: (326px, 340px, -326px, -340px, 120px, 90px, 648px, 544px, '/img/sprites@2x.png', 'i-bed', ),
  i-eat: (212px, 180px, -212px, -180px, 100px, 104px, 648px, 544px, '/img/sprites@2x.png', 'i-eat', ),
  i-fan: (532px, 0px, -532px, 0px, 116px, 76px, 648px, 544px, '/img/sprites@2x.png', 'i-fan', ),
  i-wi-fi: (326px, 244px, -326px, -244px, 122px, 94px, 648px, 544px, '/img/sprites@2x.png', 'i-wi-fi', ),
  i-window: (532px, 78px, -532px, -78px, 86px, 92px, 648px, 544px, '/img/sprites@2x.png', 'i-window', ),
  logo: (0px, 0px, 0px, 0px, 324px, 178px, 648px, 544px, '/img/sprites@2x.png', 'logo', ),
  mark-rate: (0px, 434px, 0px, -434px, 238px, 40px, 648px, 544px, '/img/sprites@2x.png', 'mark-rate', ),
  mind-games: (326px, 0px, -326px, 0px, 204px, 120px, 648px, 544px, '/img/sprites@2x.png', 'mind-games', ),
  nav-sublist: (620px, 152px, -620px, -152px, 22px, 12px, 648px, 544px, '/img/sprites@2x.png', 'nav-sublist', ),
  olimpia-logo: (326px, 122px, -326px, -122px, 192px, 120px, 648px, 544px, '/img/sprites@2x.png', 'olimpia-logo', ),
  popup-close: (532px, 172px, -532px, -172px, 86px, 88px, 648px, 544px, '/img/sprites@2x.png', 'popup-close', ),
  quote: (0px, 180px, 0px, -180px, 210px, 252px, 648px, 544px, '/img/sprites@2x.png', 'quote', ),
  radio-checked: (616px, 366px, -616px, -366px, 32px, 34px, 648px, 544px, '/img/sprites@2x.png', 'radio-checked', ),
  radio-disabled: (490px, 244px, -490px, -244px, 32px, 34px, 648px, 544px, '/img/sprites@2x.png', 'radio-disabled', ),
  radio-hover: (616px, 408px, -616px, -408px, 32px, 34px, 648px, 544px, '/img/sprites@2x.png', 'radio-hover', ),
  radio: (616px, 318px, -616px, -318px, 32px, 34px, 648px, 544px, '/img/sprites@2x.png', 'radio', ),
  select-arr: (620px, 172px, -620px, -172px, 18px, 10px, 648px, 544px, '/img/sprites@2x.png', 'select-arr', ),
);
