$sprites-2x-map : (
  al-b-back-link-dark: (366px, 434px, -366px, -434px, 36px, 30px, 752px, 622px, '/img/sprites@2x.png', 'al-b-back-link-dark', ),
  al-b-back-link: (404px, 434px, -404px, -434px, 36px, 30px, 752px, 622px, '/img/sprites@2x.png', 'al-b-back-link', ),
  al-b-dropdown: (718px, 442px, -718px, -442px, 22px, 16px, 752px, 622px, '/img/sprites@2x.png', 'al-b-dropdown', ),
  al-b-floor__down: (424px, 378px, -424px, -378px, 46px, 26px, 752px, 622px, '/img/sprites@2x.png', 'al-b-floor__down', ),
  al-b-floor__up: (470px, 324px, -470px, -324px, 46px, 26px, 752px, 622px, '/img/sprites@2x.png', 'al-b-floor__up', ),
  al-b-menu__ctrl: (718px, 322px, -718px, -322px, 32px, 26px, 752px, 622px, '/img/sprites@2x.png', 'al-b-menu__ctrl', ),
  al-b-pointer-arrow: (718px, 390px, -718px, -390px, 30px, 22px, 752px, 622px, '/img/sprites@2x.png', 'al-b-pointer-arrow', ),
  al-b-rotate: (470px, 286px, -470px, -286px, 38px, 36px, 752px, 622px, '/img/sprites@2x.png', 'al-b-rotate', ),
  al-b-select-options: (442px, 434px, -442px, -434px, 36px, 28px, 752px, 622px, '/img/sprites@2x.png', 'al-b-select-options', ),
  b-kelnik-big: (120px, 540px, -120px, -540px, 120px, 68px, 752px, 622px, '/img/sprites@2x.png', 'b-kelnik-big', ),
  b-kelnik-medium: (326px, 378px, -326px, -378px, 96px, 54px, 752px, 622px, '/img/sprites@2x.png', 'b-kelnik-medium', ),
  b-kelnik: (532px, 384px, -532px, -384px, 82px, 46px, 752px, 622px, '/img/sprites@2x.png', 'b-kelnik', ),
  checkbox-checked: (470px, 244px, -470px, -244px, 40px, 40px, 752px, 622px, '/img/sprites@2x.png', 'checkbox-checked', ),
  checkbox-disabled: (704px, 494px, -704px, -494px, 40px, 40px, 752px, 622px, '/img/sprites@2x.png', 'checkbox-disabled', ),
  checkbox-hover: (662px, 494px, -662px, -494px, 40px, 40px, 752px, 622px, '/img/sprites@2x.png', 'checkbox-hover', ),
  checkbox: (616px, 384px, -616px, -384px, 40px, 40px, 752px, 622px, '/img/sprites@2x.png', 'checkbox', ),
  gallery-arrow-next-simple: (662px, 354px, -662px, -354px, 54px, 138px, 752px, 622px, '/img/sprites@2x.png', 'gallery-arrow-next-simple', ),
  gallery-arrow-prev-simple: (662px, 214px, -662px, -214px, 54px, 138px, 752px, 622px, '/img/sprites@2x.png', 'gallery-arrow-prev-simple', ),
  gallery-next: (736px, 414px, -736px, -414px, 16px, 26px, 752px, 622px, '/img/sprites@2x.png', 'gallery-next', ),
  gallery-prev: (718px, 414px, -718px, -414px, 16px, 26px, 752px, 622px, '/img/sprites@2x.png', 'gallery-prev', ),
  i-bed: (212px, 292px, -212px, -292px, 104px, 114px, 752px, 622px, '/img/sprites@2x.png', 'i-bed', ),
  i-eat: (212px, 180px, -212px, -180px, 108px, 110px, 752px, 622px, '/img/sprites@2x.png', 'i-eat', ),
  i-eco: (662px, 0px, -662px, 0px, 90px, 122px, 752px, 622px, '/img/sprites@2x.png', 'i-eco', ),
  i-fan-small: (532px, 0px, -532px, 0px, 128px, 126px, 752px, 622px, '/img/sprites@2x.png', 'i-fan-small', ),
  i-fan: (0px, 540px, 0px, -540px, 118px, 82px, 752px, 622px, '/img/sprites@2x.png', 'i-fan', ),
  i-wi-fi-small: (532px, 256px, -532px, -256px, 126px, 126px, 752px, 622px, '/img/sprites@2x.png', 'i-wi-fi-small', ),
  i-wi-fi: (0px, 434px, 0px, -434px, 124px, 104px, 752px, 622px, '/img/sprites@2x.png', 'i-wi-fi', ),
  i-window-small: (532px, 128px, -532px, -128px, 126px, 126px, 752px, 622px, '/img/sprites@2x.png', 'i-window-small', ),
  i-window: (326px, 244px, -326px, -244px, 142px, 132px, 752px, 622px, '/img/sprites@2x.png', 'i-window', ),
  logo: (0px, 0px, 0px, 0px, 324px, 178px, 752px, 622px, '/img/sprites@2x.png', 'logo', ),
  mark-rate: (126px, 434px, -126px, -434px, 238px, 40px, 752px, 622px, '/img/sprites@2x.png', 'mark-rate', ),
  mind-games: (326px, 0px, -326px, 0px, 204px, 120px, 752px, 622px, '/img/sprites@2x.png', 'mind-games', ),
  nav-sublist: (718px, 460px, -718px, -460px, 22px, 12px, 752px, 622px, '/img/sprites@2x.png', 'nav-sublist', ),
  olimpia-logo: (326px, 122px, -326px, -122px, 192px, 120px, 752px, 622px, '/img/sprites@2x.png', 'olimpia-logo', ),
  popup-close: (662px, 124px, -662px, -124px, 86px, 88px, 752px, 622px, '/img/sprites@2x.png', 'popup-close', ),
  quote: (0px, 180px, 0px, -180px, 210px, 252px, 752px, 622px, '/img/sprites@2x.png', 'quote', ),
  radio-checked: (718px, 214px, -718px, -214px, 32px, 34px, 752px, 622px, '/img/sprites@2x.png', 'radio-checked', ),
  radio-disabled: (718px, 250px, -718px, -250px, 32px, 34px, 752px, 622px, '/img/sprites@2x.png', 'radio-disabled', ),
  radio-hover: (718px, 286px, -718px, -286px, 32px, 34px, 752px, 622px, '/img/sprites@2x.png', 'radio-hover', ),
  radio: (718px, 354px, -718px, -354px, 32px, 34px, 752px, 622px, '/img/sprites@2x.png', 'radio', ),
  select-arr: (718px, 474px, -718px, -474px, 18px, 10px, 752px, 622px, '/img/sprites@2x.png', 'select-arr', ),
);
