$sprites-map : (
  al-b-back-link-dark: (225px, 77px, -225px, -77px, 18px, 15px, 303px, 231px, '/img/sprites.png', 'al-b-back-link-dark', ),
  al-b-back-link: (225px, 61px, -225px, -61px, 18px, 15px, 303px, 231px, '/img/sprites.png', 'al-b-back-link', ),
  al-b-dropdown: (244px, 77px, -244px, -77px, 11px, 8px, 303px, 231px, '/img/sprites.png', 'al-b-dropdown', ),
  al-b-floor__down: (260px, 177px, -260px, -177px, 23px, 13px, 303px, 231px, '/img/sprites.png', 'al-b-floor__down', ),
  al-b-floor__up: (280px, 158px, -280px, -158px, 23px, 13px, 303px, 231px, '/img/sprites.png', 'al-b-floor__up', ),
  al-b-menu__ctrl: (284px, 177px, -284px, -177px, 16px, 13px, 303px, 231px, '/img/sprites.png', 'al-b-menu__ctrl', ),
  al-b-pointer-arrow: (244px, 61px, -244px, -61px, 15px, 11px, 303px, 231px, '/img/sprites.png', 'al-b-pointer-arrow', ),
  al-b-rotate: (260px, 158px, -260px, -158px, 19px, 18px, 303px, 231px, '/img/sprites.png', 'al-b-rotate', ),
  al-b-select-options: (225px, 93px, -225px, -93px, 18px, 14px, 303px, 231px, '/img/sprites.png', 'al-b-select-options', ),
  b-kelnik-big: (0px, 197px, 0px, -197px, 60px, 34px, 303px, 231px, '/img/sprites.png', 'b-kelnik-big', ),
  b-kelnik-medium: (61px, 197px, -61px, -197px, 48px, 27px, 303px, 231px, '/img/sprites.png', 'b-kelnik-medium', ),
  b-kelnik: (260px, 92px, -260px, -92px, 41px, 23px, 303px, 231px, '/img/sprites.png', 'b-kelnik', ),
  checkbox-checked: (260px, 137px, -260px, -137px, 20px, 20px, 303px, 231px, '/img/sprites.png', 'checkbox-checked', ),
  checkbox-disabled: (281px, 137px, -281px, -137px, 20px, 20px, 303px, 231px, '/img/sprites.png', 'checkbox-disabled', ),
  checkbox-hover: (260px, 116px, -260px, -116px, 20px, 20px, 303px, 231px, '/img/sprites.png', 'checkbox-hover', ),
  checkbox: (281px, 116px, -281px, -116px, 20px, 20px, 303px, 231px, '/img/sprites.png', 'checkbox', ),
  gallery-next: (294px, 209px, -294px, -209px, 8px, 13px, 303px, 231px, '/img/sprites.png', 'gallery-next', ),
  gallery-prev: (294px, 191px, -294px, -191px, 8px, 13px, 303px, 231px, '/img/sprites.png', 'gallery-prev', ),
  i-bed: (0px, 151px, 0px, -151px, 60px, 45px, 303px, 231px, '/img/sprites.png', 'i-bed', ),
  i-eat: (103px, 90px, -103px, -90px, 50px, 52px, 303px, 231px, '/img/sprites.png', 'i-eat', ),
  i-fan: (163px, 109px, -163px, -109px, 58px, 38px, 303px, 231px, '/img/sprites.png', 'i-fan', ),
  i-wi-fi: (163px, 61px, -163px, -61px, 61px, 47px, 303px, 231px, '/img/sprites.png', 'i-wi-fi', ),
  i-window: (260px, 0px, -260px, 0px, 43px, 46px, 303px, 231px, '/img/sprites.png', 'i-window', ),
  logo: (0px, 0px, 0px, 0px, 162px, 89px, 303px, 231px, '/img/sprites.png', 'logo', ),
  mark-rate: (61px, 151px, -61px, -151px, 119px, 20px, 303px, 231px, '/img/sprites.png', 'mark-rate', ),
  mind-games: (0px, 90px, 0px, -90px, 102px, 60px, 303px, 231px, '/img/sprites.png', 'mind-games', ),
  nav-sublist: (244px, 86px, -244px, -86px, 11px, 6px, 303px, 231px, '/img/sprites.png', 'nav-sublist', ),
  olimpia-logo: (163px, 0px, -163px, 0px, 96px, 60px, 303px, 231px, '/img/sprites.png', 'olimpia-logo', ),
  popup-close: (260px, 47px, -260px, -47px, 43px, 44px, 303px, 231px, '/img/sprites.png', 'popup-close', ),
  radio-checked: (277px, 191px, -277px, -191px, 16px, 17px, 303px, 231px, '/img/sprites.png', 'radio-checked', ),
  radio-disabled: (260px, 209px, -260px, -209px, 16px, 17px, 303px, 231px, '/img/sprites.png', 'radio-disabled', ),
  radio-hover: (260px, 191px, -260px, -191px, 16px, 17px, 303px, 231px, '/img/sprites.png', 'radio-hover', ),
  radio: (277px, 209px, -277px, -209px, 16px, 17px, 303px, 231px, '/img/sprites.png', 'radio', ),
);
