// INCLUDE FONTS
@include font(Geometria, 'Geometria/Geometria');
@include font(Geometria-Bold, 'Geometria-Bold/Geometria-Bold');
@include font(ArnoPro-BoldItalic, 'ArnoPro-BoldItalic/ArnoPro-BoldItalic');
@include font(AGOpusHR-Roman, 'AGOpusHR-Roman/AGOpusHR-Roman');
@include font(AGOpusHR-Bold, 'AGOpusHR-Bold/AGOpusHR-Bold');
@include font(ruble, 'ruble/ruble-webfont');

// HEADINGS
$headings:
    (h1 24px 36px 48px),
    (h2 20px 30px 40px),
    (h3 19px 25px 31px),
    (h4 18px 21px 25px),
    (h5 17px 18px 20px),
    (h6 16px 16px 16px) !default;

$headings-tt-uppercase: false !default;
$headings-font-family: $font !default;
$headings-margin-trailer: 1 !default; //rhythm unit

@each $heading in $headings {
    $name: nth($heading, 1);
    $small-size: nth($heading, 2);
    $medium-size: nth($heading, 3);
    $large-size: nth($heading, 4);

    #{$name} {
        @include adjust-font-size-to($small-size);
        font-family: $headings-font-family;

        @if ($headings-tt-uppercase) {
            @include text-transform();
        }

        @media #{$medium-up} {
            @include adjust-font-size-to($medium-size);
        }

        @media #{$big-up} {
            @include adjust-font-size-to($large-size);
        }
    }
}

h1,
h2 {
    font: $font-roman;
}

// FONTS
%f-base,
.f-base {
    font-size: 14px;
    line-height: 21px;
    font-family: $font;

    @media #{$medium-up} {
        font-size: 16px;
        line-height: 24px;
    }
}

%f-btn,
.f-btn {
    font-size: 11px;
    line-height: 24px;
    font-family: $font-roman-bold;
    text-transform: uppercase;
    letter-spacing: $gl-letter-spacing * 3;
}

%f-input,
.f-input {
    font-size: 12px;
    font-family: $font;

    @media #{$large-up} {
        font-size: 16px;
    }

    @media #{$xlarge-up} {
        font-size: 20px;
    }
}

%f-nav-link,
.f-nav-link {
    font-size: 14px;
    line-height: 36px;
    font-family: $font;

    @media #{$large-up} {
        font-size: 18px;
        line-height: 40px;
    }

    @media #{$xlarge-up} {
        font-size: 22px;
        line-height: 44px;
    }
}

%f-menu-tel,
.f-menu-tel {
    font-size: 14px;
    line-height: 36px;
    font-family: $font-bold;

    @media #{$large-up} {
        @media #{$large-up} {
            font-size: 18px;
            line-height: 40px;
        }
    }

    @media #{$xlarge-up} {
        font-size: 22px;
        line-height: 44px;
    }
}

%f-menu-reviews,
.f-menu-reviews {
    font-size: 11px;
    line-height: 19px;
    font-family: $font-roman;
    text-transform: uppercase;
    letter-spacing: $gl-letter-spacing;

    @media #{$large-up} {
        font-size: 14px;
        line-height: 23px;
    }

    @media #{$xlarge-up} {
        font-size: 17px;
        line-height: 25px;
    }
}

%f-menu-lang,
.f-menu-lang {
    font-size: 16px;
    line-height: 24px;
    font-family: $font-roman;
    text-transform: uppercase;
    letter-spacing: $gl-letter-spacing;

    @media #{$large-up} {
        font-size: 19px;
        line-height: 30px;
    }

    @media #{$xlarge-up} {
        font-size: 22px;
        line-height: 32px;
    }
}

%f-service-note,
.f-service-note {
    font-size: 35px;
    line-height: 35px;
    font-family: $font-bold-italic;
}

%f-menu-contact,
.f-menu-contact {
    font-size: 14px;
    line-height: 21px;
    font-family: $font;

    @media #{$large-up} {
        font-size: 18px;
        line-height: 25px;
    }

    @media #{$xlarge-up} {
        font-size: 22px;
        line-height: 29px;
    }
}
%f-nav-link-stick,
.f-nav-link-stick {
    font-size: 22px;
    line-height: 44px;
    font-family: $font;

    @media #{$large-up} {
        font-size: 28px;
        line-height: 46px;
    }

    @media #{$xlarge-up} {
        font-size: 28px;
        line-height: 46px;
    }
}

%f-special,
.f-special {
    font-size: 18px;
    line-height: 27px;
    font-family: $font-roman-bold;
    letter-spacing: $gl-letter-spacing;
}

%f-special-txt,
.f-special-txt {
    font-size: 18px;
    line-height: 27px;
    font-family: $font-bold-italic;
    letter-spacing: $gl-letter-spacing;
}

%f-ttl-note,
.f-ttl-note {
    font-size: 24px;
    line-height: 30px;
    font-family: $font-bold-italic;

    @media #{$medium-up} {
        font-size: 35px;
        line-height: 45px;
    }
}

%f-ttl {
    font-size: 36px;
    line-height: 36px;
    font-family: $font-roman-bold;

    @media #{$medium-up} {
        font-size: 50px;
        line-height: 50px;
    }
}

%f-room-ttl,
.f-room-ttl {
    font-size: 14px;
    line-height: 21px;
    font-family: $font-roman-bold;
    text-transform: uppercase;
    letter-spacing: $gl-letter-spacing;

    @media #{$big-up} {
        font-size: 16px;
        line-height: 24px;
    }
}

%f-price-txt,
.f-price-txt {
    font-size: 14px;
    line-height: 17px;
    font-family: $font-roman-bold;
}

%f-price,
.f-price {
    font-size: 26px;
    line-height: 24px;
    font-family: $font-roman-bold;
}

%f-service-txt,
.f-service-txt {
    font-size: 14px;
    line-height: 21px;
    font-family: $font;
}

%f-adaptive-ttl,
.f-adaptive-ttl {
    font-size: 22px;
    line-height: 30px;
    font-family: $font-bold-italic;
    letter-spacing: $gl-letter-spacing;

    @media #{$medium-up} {
        font-size: 35px;
        line-height: 40px;
    }

    @media #{$large-up} {
        font-size: 50px;
        line-height: 60px;
    }
}

%f-adaptive-txt,
.f-adaptive-txt {
    font-size: 14px;
    line-height: 21px;
    font-family: $font;

    @media #{$medium-up} {
        font-size: 16px;
        line-height: 24px;
    }

    @media #{$large-up} {
        font-size: 30px;
        line-height: 45px;
    }
}

%f-article-special,
.f-article-special {
    font-size: 14px;
    line-height: 21px;
    font-family: $font-roman-bold;

    @media #{$medium-up} {
        font-size: 16px;
        line-height: 24px;
    }
}


// SMALL
$small-font-size: $base-font-size - 2 !default;

small {
    font-size: $small-font-size;
}

// PARAGRAPH
$paragraph-margin-bottom: 1 !default; // rhythm unit
p {
    @include margin-trailer($paragraph-margin-bottom);
}

// LINKS
$link-color: #0000ff !default;
$link-color-hover: lighten($link-color, 5%) !default;
$link-color-active: darken($link-color, 5%) !default; // :active state
$link-text-decoration: reset !default;

a {
    @include transition(color);
    color: $link-color;

    @if ($link-text-decoration == 'normal') {
        text-decoration: none;
    } @else if ($link-text-decoration == 'invert'){
        text-decoration: underline;
    } @else if ($link-text-decoration == 'reset'){
        text-decoration: none;
    }

    &:hover {
        @if ($link-text-decoration == 'normal') {
            text-decoration: underline;
        } @else if ($link-text-decoration == 'invert'){
            text-decoration: none;
        } @else if ($link-text-decoration == 'reset'){
            text-decoration: none;
        }
        color: $link-color-hover;
    }

    &:active {
        color: $link-color-active;
    }
}

// LISTS
$list-color: $black !default;
$list-font-size: $base-font-size !default;
$list-sublist-padding-left: 4 !default; // gutter value
$list-margin-bottom: $paragraph-margin-bottom !default; // rhythm unit

.b-typo-reset {

    ul ul,
    ol ol {
        padding-left: gutter($list-sublist-padding-left);
    }

    ul,
    ol {
        @include margin-trailer($list-margin-bottom);

        li {
            @extend %f-base;
        }
    }

    ol {
        counter-reset: list;

        li:before {
            counter-increment: list;
            content: counter(list);
            color: $list-color;
            padding-right: gutter(1);
            float: left;
        }
    }

    ul {

        li:before {
            content: '•';
            color: $list-color;
            padding-right: gutter(1);
            float: left;
            transform: scale(2) translate(1.5px, 1.5px); // centered
        }
    }
}

// b, strong
b,
strong {
    font-family: $font-bold;
    font-weight: 700;
}
